html{
    font-size:0.052083333333333336vw;
}
.top{
    height:99rem;
    width: 1707rem;
    background-color: #5695F4;
    position: absolute;
    left:106.5rem;
    top:0;
}
.top-img{
    width: 64rem;
    height:65rem;
    position: absolute;
    left:41rem;
    top:15rem;
}
.top-text{
    height:65rem;
    width: 420rem;
    position: absolute;
    left:131rem;
    top:15rem
}
#home{
    width: 141rem;
    height:43rem;
    position: absolute;
    left:740rem;
    top:55.99rem;
    background-color: #65AFFD;
    cursor: pointer;
}
.home_img{
    width: 18rem;
    height: 17rem;
    position: absolute;
    left: 27.99rem;
    top:13rem;
}
.home_text{
    color: #FFFFFF;
    font-size: 16rem;
    font-weight: bold;
    font-family:Adobe Heiti Std;
    position: absolute;
    left:68rem;
    bottom:12rem;
}
#second{
    background-color: #218BF1;
    position: absolute;
    left:895.99rem;
    top:55.99rem;
    cursor: pointer;
    width: 164rem;
    height: 43rem;
}
.second_text{
    color: #FFFFFF;
    font-size: 16rem;
    font-weight: bold;
    font-family:Adobe Heiti Std;
    position: absolute;
    left:18rem;
    bottom:12rem; 
}
#third{
    background-color: #218BF1;
    position: absolute;
    left:1076rem;
    top:55.99rem;
    cursor: pointer;
    width: 139rem;
    height: 43rem;
}
.third_text{
    color: #FFFFFF;
    font-size: 16rem;
    font-weight: bold;
    font-family:Adobe Heiti Std;
    position: absolute;
    left:20rem;
    bottom:12rem; 
}
#fourth{
    background-color: #218BF1;
    position: absolute;
    left:1231rem;
    top:55.99rem;
    cursor: pointer;
    width: 170rem;
    height: 43rem;
}
.fourth_text{
    color: #FFFFFF;
    font-size: 16rem;
    font-weight: bold;
    font-family:Adobe Heiti Std;
    position: absolute;
    left:11rem;
    bottom:12rem; 
}
.left{
    width: 89rem;
    height:2212rem;
    position: absolute;
    left:106.5rem;
    top:99rem;
    border-right: 1px solid #7aafff;
}
.left_bac{
    width: 89rem;
    height: 210rem;
    position: absolute;
    top:0;
}
#changetheme{
    width: 35rem;
    height: 35rem;
    position: absolute;
    left:1551rem;
    top:0rem;
    cursor: pointer;
}
#notice{
    width:35rem;
    height:35rem;
    position: absolute;
    left:1595rem;
    top:0rem;
    cursor: pointer;
}
#setting{
    width:35rem;
    height:35rem;
    position: absolute;
    left:1640rem;
    top:0rem;
    cursor: pointer;
}
#user{
    width: 67rem;
    height: 67rem;
    position: absolute;
    left: 10rem;
    top:26rem;
}
.notice{
    height: 16.7rem;
    width:16.7rem;
    position: absolute;
    left:56rem;
    top:77rem;
}
.bottom{
    width: 1707rem;
    height: 46rem;
    position:absolute;
    top:2311rem;
    left:106.5rem;
    background-color:#5D9EFF;
    
}
.bottom_space{
    width: 20rem;
    height: 14rem;
}
.bottom_sum{
    font-size: 14rem;
    color: #FFF;
    position: absolute;
    left:791rem;
    top:18rem;
}