html{
    height: 100%;
}
body{
    height: 100%;
}
.top-logo{
    height:70.6%;
    width:3.3%;
    position: absolute;
    left: 1.7%;
    top:9.7%;
}
.top-text{
    height:58.6%;
    width: 21.8%;
    position: absolute;
    left:6.4%;
    top:10.8%;
}
.middle_bac{
    height: 31%;
    width: 100%;
    position: absolute;
    top:0%;
}
.head{
    height: 10.9%;
    width: 35.6%;
    position: absolute;
    top:4.1%;
    left:29.3%;
}
.red{
    position: absolute;
    height: 2.5%;
    width:8.3%;
    top: 12.5%;
    left:53.6%;
}
#caidan{
    height: 68.9%;
    width: 100%;
    position:absolute;
    top:31%;
    overflow-y: auto;
}
.first{
    height: 7.8%;
    width: 100%;
    background: linear-gradient(to right,#8EE8FF,#477BFF);
    text-align: center;
    cursor: pointer;
}
.first_text{
    color: #FFF;
    position: relative;
    top:26.4%;
}
.first_ch{
    width: 100%;
}
.first_children{
    width: 100%;
    background:#E0F4FD;
    text-align: center;
    cursor: pointer; 
}
.first_children_text{
    color: #787878;
    margin-top:3.9% ;
    margin-bottom:3.9%;
}
.cloth{
    width: 1.5%;
    height: 26%;
    position: absolute;
    left: 92.6%;
    bottom:59.7%;
}
.notice{
    width: 1.9%;
    height: 26%;
    position: absolute;
    bottom:59.7%;
    left: 94.7%;
}
.setting{
    width: 1.4%;
    height: 28%;
    position: absolute;
    bottom:59.7%;
    left: 96.9%;
}
.top-home{
    width: 7.3%;
    height: 46.7%;
    position: absolute;
    left:38.6%;
    bottom:0;
    background-color: #218CF2;
    cursor: pointer;
}
.home-img{
    width: 12.7%;
    height: 39.5%;
    position: absolute;
    left: 19.8%;
    bottom:30.2%;
}
.home-text{
    position: absolute;
    left: 48.2%;
    bottom: 30.2%;
    font-size: 39.5%;
    color: #FFFFFF;
    font-family:Adobe Heiti Std;
    font-weight:bold;
}
#xuanxiangka{
    width:53.9%;
    height:46.7%;
    position: absolute;
    left: 46%;
    bottom: 0;
}
.top_xuanxiangka{
    width: 15.8%;
    height:100%;
    background-color:#66B0FD;
    margin-left: 1.4%;
    cursor: pointer;
}
.top_xuanxiangka-text{
    font-size: 37.2%;
    color: #FFFFFF;
    font-family:Adobe Heiti Std;
    font-weight:bold;
    height: 44%;
    width: 60%;
    position: relative;
    top:23%;
    left:20%;
    overflow: hidden;
    text-overflow:ellipsis;    
    white-space: nowrap;
}
#shouye321{
    height: 100%;
    width:9.2%;
}