html{
    font-size:0.052083333333333336vw;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    user-select: none;
}
body > *:not(script){
    display: inline-block;
    border:0;
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
    color: #000;
}
select,input,button{
    outline: none;
    cursor: pointer;
}
button{
    background-color: transparent;
}
table{
    border-collapse:collapse;
}
thead,tbody,tr,td,th{
    border: 1rem solid #000;
}
li{
    list-style: none;
}
hr{
    width: 100%;
    height: 1rem;
    background-color: #000;
}