html{
    font-size:0.052083333333333336vw;
}
body{
    margin: 0;
    padding: 0;
    user-select: none;
}
body > *:not(script){
    border:0;
    margin: 0;
    padding: 0;
}
div,h1,h2,h3,h4,h5,h6,p,pre,ul,ol,li,form,table,label{
    display: inline-block;
}
a,img,spanï¼Œi,em,sub,sup{
    display: inline-block;
}
a{
    text-decoration:none;
    color: #000;
}
select,input,button{
    outline: none;
    cursor: pointer;
}
button{
    background-color: transparent;
}
table{
    border-collapse:collapse;
}
thead,tbody,tr,td,th{
    border: 1rem solid #000;
}
li{
    list-style: none;
}
hr{
    width: 100%;
    height: 1rem;
    background-color: #000;
}