<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>药品编辑</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
		<style>
			.layui-input,
			.layui-textarea {
				width: 95%;
			}
			
			.layui-form-pane .layui-form-label {
				width: 120px;
			}
			
			.layui-form-pane .layui-form-text .layui-form-label {
				width: 96%;
			}
			
			.layui-textarea {
				min-height: 170px;
			}
		</style>
	</head>

	<body>
		<div class="layui-form layui-form-pane" lay-filter="layuiadmin-form-admin" style="padding: 20px 20px 20px 20px;background-color: #FFFFFF;">
			<input type="hidden" name="TitleType" />
			<input type="hidden" name="TitleCode" />
			<input type="hidden" name="DrugCode" />
			<div class="layui-form-item">
				<label class="layui-form-label"><span style="color: red; font-size: 20px ;vertical-align: middle;" >* </span>药品名称：</label>
				<div class="layui-input-block">
					<input type="text" name="DrugName" id="DrugName" lay-verify="required" autocomplete="off" placeholder="" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">

				<label class="layui-form-label"><span style="color: red; font-size: 20px ;vertical-align: middle;" >* </span>英文名称：</label>
				<div class="layui-input-block">
					<input type="text" name="EnName" id="EnName" lay-verify="required" autocomplete="off" placeholder="" class="layui-input">
				</div>

			</div>
			<div class="layui-form-item">
				<label class="layui-form-label"><span style="color: red; font-size: 20px ;vertical-align: middle;" >* </span>适应症：</label>
				<div class="layui-input-block">
					<textarea placeholder="" name="Indications" lay-verify="required" id="Indications" class="layui-textarea"></textarea>
				</div>

			</div>
			<div class="layui-form-item">

				<label class="layui-form-label"><span style="color: red; font-size: 20px ;vertical-align: middle;" >* </span>注意事项：</label>
				<div class="layui-input-block">
					<textarea placeholder="" name="NoticeMatter" lay-verify="required" id="NoticeMatter" class="layui-textarea"></textarea>
				</div>

			</div>
			<div class="layui-form-item">

				<label class="layui-form-label"><span style="color: red; font-size: 20px ;vertical-align: middle;" >* </span>禁忌症：</label>
				<div class="layui-input-block">
					<textarea placeholder="" name="ContrainDications" lay-verify="required" id="ContrainDications" class="layui-textarea"></textarea>
				</div>

			</div>
			<div class="layui-form-item">

				<label class="layui-form-label"><span style="color: red; font-size: 20px ;vertical-align: middle;" >* </span>不良反应：</label>
				<div class="layui-input-block">
					<textarea placeholder="" name="AdverseReactions" lay-verify="required" id="AdverseReactions" class="layui-textarea"></textarea>
				</div>

			</div>
			<div class="layui-form-item">

				<label class="layui-form-label"><span style="color: red; font-size: 20px ;vertical-align: middle;" >* </span>用法和剂量：</label>
				<div class="layui-input-block">
					<textarea placeholder="" name="UsageAndDose" lay-verify="required" id="UsageAndDose" class="layui-textarea"></textarea>
				</div>

			</div>
			<div class="layui-form-item">
				<label class="layui-form-label"><span style="color: red; font-size: 20px ;vertical-align: middle;" >* </span>制剂与规格：</label>
				<div class="layui-input-block">
					<textarea placeholder="" name="PreparationAndSpecifications" lay-verify="required" id="PreparationAndSpecifications" class="layui-textarea"></textarea>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">备注：</label>
				<div class="layui-input-block">
					<textarea placeholder="" name="Remark" id="Remark" class="layui-textarea"></textarea>
				</div>
			</div>
			<div style="text-align: right;">
				<button class="layui-btn layuiadmin-btn-useradmin layui-btn-sm" data-type="cancel">关闭</button>
			</div>
		</div>
		<script src="../../../layuiadmin/layui/layui.js"></script>
		<script>
			layui.config({
				base: '../../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'form'], function() {
				var $ = layui.$,
					element = layui.element,
					form = layui.form,
					admin = layui.admin;
				form.render(null, 'layuiadmin-form-admin');
				var drugcode = getQueryString("DrugCode");
				//drugcode = 'L201907190818049017D';
				getdata(drugcode);

				function getdata(drugcode) {
					admin.req({
						url: layui.setter.base_url + 'znsh/NpsDrugDirectory/GetPageListByDrugCode',
						type: "get",
						dataType: "json",
						//async:false,
						data: {
							drugcode: drugcode
						},
						done: function(result) {
							form.val("layuiadmin-form-admin", {
								"DrugName": result.data.DrugName,
								"EnName": result.data.EnName,
								"Indications": result.data.Indications,
								"NoticeMatter": result.data.NoticeMatter,
								"ContrainDications": result.data.ContrainDications,
								"AdverseReactions": result.data.AdverseReactions,
								"UsageAndDose": result.data.UsageAndDose,
								"PreparationAndSpecifications": result.data.PreparationAndSpecifications,
								"Remark": result.data.Remark
							})

						}
					});
				}
				//赋值
				//				if(dictdata != null) {
				//					form.val("layuiadmin-form-admin", {
				//						"DrugName": dictdata.DrugName,
				//						"EnName": dictdata.EnName,
				//						"Indications": dictdata.Indications,
				//						"NoticeMatter": dictdata.NoticeMatter,
				//						"ContrainDications": dictdata.ContrainDications,
				//						"AdverseReactions": dictdata.AdverseReactions,
				//						"UsageAndDose": UsageAndDose,
				//						"PreparationAndSpecifications": PreparationAndSpecifications,
				//						"Remark": Remark,
				//						"DrugCode": DrugCode
				//					})
				//				} 
				$(".layui-input").attr("disabled", "disabled");
				$(".layui-textarea").attr("disabled", "disabled");

				function getQueryString(name) {
					var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
					var r = decodeURI(window.location.search).substr(1).match(reg);
					if(r != null) return(r[2]);
					return null;
				}
				//事件
				var active = {
					//取消
					cancel: function() {
						window.close();
					}
				};
				$('.layui-btn.layuiadmin-btn-useradmin').on('click', function() {
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';
				});
			});
		</script>
	</body>

</html>