<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>门诊异常就诊频次查询</title>
	    <meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
		<style>
			.wrap {
				font-size: 0px;
				/*通过设置父元素字体大小为0；来消除div之间的空格。或者通过注释,<div>wwww</div><!--  --><div> wwww</div>*/
				padding: 10px;
				box-sizing: content-box;
				/*父元素是content-box模式*，为了计算右侧盒子的宽度，我们把子元素设置为border-box模式，这样宽度就是整个盒子的宽度了。*/
			}
			
			.left {
				box-sizing: border-box;
				display: inline-block;
				/*两个子元素都设置为inline-block*/
				vertical-align: top;
				/*两个inline-block的盒子，必须两个子元素都顶端对齐。*/
				width: 200px;
				/*height: 750px;*/
			}
			
			.right {
				box-sizing: border-box;
				display: inline-block;
				vertical-align: top;
				width: -webkit-calc(100% - 200px);
				width: calc(100% - 200px);
				/*减号前后要有空格，否则无效，减去的宽度必须计算清楚*/
				/*height: 750px;*/
			}
			
			.test-1::-webkit-scrollbar {
				/*滚动条整体样式*/
				width: 7px;
				/*高宽分别对应横竖滚动条的尺寸*/
				height: 1px;
			}
			
			.test-1::-webkit-scrollbar-thumb {
				/*滚动条里面小方块*/
				border-radius: 7px;
				-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
				background: #009688;
			}
			
			.test-1::-webkit-scrollbar-track {
				/*滚动条里面轨道*/
				-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
				border-radius: 7px;
				background: #EDEDED;
			}
		</style>
	</head>
	<body>		
		<table class="layui-hide" id="test" lay-filter="test"></table>
		<div class="layui-form layui-form-pane" lay-filter="layuiadmin-form-admin" style="background-color: #FFFFFF;">
		
		<div class="layui-form-item">
		<div class="layui-tab layui-tab-card" >
		  <ul class="layui-tab-title">
		    <li class="layui-this">基本信息</li>
		    <li>费用信息</li>
		    <li>处方明细</li>
		  </ul>
		  <div class="layui-tab-content">
		    <div class="layui-tab-item layui-show">
		        <div class="layui-form-item">
		       <div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">姓名</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="Name"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
				<div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">身份证号</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="IdNumber"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
		       <div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">性别</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="Gender"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
			    </div>		
			   <div class="layui-form-item">
		       <div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">年龄</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="Age"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
				<div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">人员类型</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="PersonalTypeName"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
		       <div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">民族</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="FolkName"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
			    </div>	
		       <div class="layui-form-item">
		       <div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">就诊医院</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="InstitutionName"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
				<div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">医院等级</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="InstitutiongGradeName"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
		       <div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">医院级别</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="InstitutionLevelName"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
			    </div>	
		       <div class="layui-form-item">
		       <div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">疾病名称</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="DiseaseName"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
				<div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">补偿年度</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="CompYear"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
		       <div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">就诊时间</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="ClinicDate"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
			    </div>
			    <div class="layui-form-item">
		       <div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">行政区划</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="CityAreaName"  readonly="true" class="layui-input" style="width:920px;">
					</div>
				</div>
			    </div>
		    </div>
		    <div class="layui-tab-item">
		       <div class="layui-form-item">
		       <div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">总费用</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="ZFY"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
				<div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">医保报销费用</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="YBBXFY"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
		       <div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">个人自付费用</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="GRZFFY"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
			    </div>	
			   <div class="layui-form-item">
		       <div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">目录内费用</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="MLNFY"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
				<div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">目录外费用</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="MLWFY"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
		       <div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">西药费</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="XYF"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
			    </div>	
			   <div class="layui-form-item">
		       <div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">中药费</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="ZYF"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
				<div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">草药费</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="CYF"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
		       <div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">蒙药费</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="MYF"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
			    </div>	
			   <div class="layui-form-item">
		       <div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">检查费</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="JCF"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
				<div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">材料费</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="CLF"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
		       <div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">特材费</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="TCF"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
			    </div>	
			   <div class="layui-form-item">
		       <div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">治疗费</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="ZLF"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
				<div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">化验费</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="HYF"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
		       <div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">手术费</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="SSF"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
			    </div>	
               <div class="layui-form-item">
                <div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">血液费</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="XUEYF"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
				<div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">特检费</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="TJF"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
		        <div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">特治费</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="TZF"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
			   </div>	
		       <div class="layui-form-item">
                <div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">其他费</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="QTF"  readonly="true" class="layui-input" style="width:250px;">
					</div>
				</div>
				<div class="layui-inline" style=" width: 320px;">
					<label class="layui-form-label" style=" width:130px;">靶向药费</label>
					<div class="layui-input-inline" style="width:180px;">
						<input type="text" name="BXYF"  readonly="true" class="layui-input" style="width:210px;">
					</div>
				</div>		        
			  </div>	
		    </div>
		    <div class="layui-tab-item">
		    <table class="layui-hide" id="cflist" lay-filter="cflist"></table>
			
		    </div>
		  </div>
</div>
		</div>
		</div>
		<script src="../../../layuiadmin/layui/layui.js"></script>		
		<script type="text/javascript">
			layui.config({
				base: '../../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'admin', 'element', 'table'], function() {
				var $ = layui.$,
					setter = layui.setter,
					admin = layui.admin,
					form = layui.form,
					router = layui.router(),
					element = layui.element,
					table = layui.table;
				var tokenvalue = 'Bearer ' + layui.data(setter.tableName)[setter.request.tokenName];
				var alertheight = $(window).height() - 30;
				GetTableData();
				function GetTableData() {
					table.render({
						elem: '#test',
						url: layui.setter.base_url + 'afterengine/SupervisionInfo/GetYBClinicInfoList',
						toolbar: '#toolbarDemo',
						title: '门诊异常就诊频次列表',
						cols: [
							[  {
									field: 'Name',
									title: '姓名',
									width: 120,
									align: 'center',
								},
								{
									field: 'IdNumber',
									title: '身份证号码',
									width: 180,
									align: 'center',
								},
								{
									field: 'Gender',
									title: '性别',
									width: 80,
									align: 'center',
								},								
								{
									field: 'Age',
									title: '年龄',
									width: 80,
									align: 'center',
								},
								{
									field: 'PersonalTypeName',
									title: '人员类型',
									width: 100,
									align: 'center',
								},
								{
									field: 'ClinicDate',
									title: '就诊时间',
									width: 160,
									align: 'center',
								},
								{
									field: 'InstitutionName',
									title: '就诊医院',
									width: 190,
									align: 'center',
								},
								{
									field: 'InstitutiongGradeName',
									title: '医院等级',
									width: 120,
									align: 'center',
								},
								
								{
									field: 'DiseaseName',
									title: '疾病名称',
									width: 160,
									align: 'center',
								}								
							]
						],
						page: true,
						id: "IDTable",
						limit: 4, //每页显示10条
						limits: [4, 8, 12, 16],
						curr: 1,
						where: {
							token: tokenvalue,
							clinicDate:parent.orgdata.ClinicDates,
							idNumber:parent.orgdata.IdNumber,
							personCode:parent.orgdata.PersonalCode
						},
						headers: {
							Authorization: tokenvalue
						},
						height: 'full-360',
						done: function(res) {

						}
					});
				}
				//获取处方明细
				function GetTableDataByClinicPre(str) {
					table.render({
						elem: '#cflist',
						url: layui.setter.base_url + 'afterengine/SupervisionInfo/GetYBClinicPreInfoList',						
						title: '处方列表',
						totalRow: true,
						cols: [
							[  
								{
									field: 'ItemName',
									title: '医保项目名称',
									width: 200,
									align: 'center',
									totalRowText: '合计'
								},
								{
									field: 'HisItemName',
									title: 'His项目名称',
									width: 200,
									align: 'center',
								},								
								{
									field: 'CollectFeesCategoryName',
									title: '收费类别',
									width: 120,
									align: 'center',
								},
								{
									field: 'CollectFeesProjectGradeName',
									title: '收费项目等级',
									width: 120,
									align: 'center',
								},
								{
									field: 'PRICE',
									title: '单价',
									width: 80,
									align: 'center',
								},
								{
									field: 'COUNT',
									title: '数量',
									width: 70,
									align: 'center',
									totalRow: true
								},
								{
									field: 'ZFY',
									title: '总金额',
									width: 80,
									align: 'center',
									totalRow: true
								},
								{
									field: 'CompRatio',
									title: '报销比例',
									width: 90,
									align: 'center',
								},
								{
									field: 'YXJE',
									title: '有效金额',
									width: 90,
									align: 'center',
									totalRow: true
								},
								{
									field: 'BKBXJE',
									title: '不可报销金额',
									width: 120,
									align: 'center',
									totalRow: true
								}	
							]
						],
						page: true,
						id: "IDTable1",
						limit: 5, //每页显示10条
						limits: [5, 10, 15],
						curr: 1,
						where: {
							token: tokenvalue,
							clinicRegisterCode:str
						},
						headers: {
							Authorization: tokenvalue
						},
						height: '350',
						done: function(res) {

						}
					});
				}
				
				table.on('row(test)', function(obj){
					var data = obj.data;
					form.val('layuiadmin-form-admin', {
						"Name":data.Name,
				        "IdNumber":data.IdNumber,
				        "Gender":data.Gender,
				        "Age":data.Age,
				        "PersonalTypeName":data.PersonalTypeName,
				        "FolkName":data.FolkName,
				        "InstitutionName":data.InstitutionName,
				        "InstitutiongGradeName":data.InstitutiongGradeName,
				        "InstitutionLevelName":data.InstitutionLevelName,
				        "DiseaseName":data.DiseaseName,
				        "CompYear":data.CompYear,
				        "ClinicDate":data.ClinicDate,
				        "CityAreaName":data.CityAreaName,
				        "ZFY":data.ZFY,
				        "YBBXFY":data.YBBXFY,
				        "GRZFFY":data.GRZFFY,
				        "MLNFY":data.MLNFY,
				        "MLWFY":data.MLWFY,
				        "XYF":data.XYF,
				        "ZYF":data.ZYF,
				        "CYF":data.CYF,
				        "MYF":data.MYF,
				        "JCF":data.JCF,
				        "CLF":data.CLF,
				        "TCF":data.TCF,
				        "ZLF":data.ZLF,
				        "HYF":data.HYF,
				        "SSF":data.SSF,
				        "XUEYF":data.XUEYF,
				        "TJF":data.TJF,
				        "TZF":data.TZF,
				        "QTF":data.QTF,
				        "BXYF":data.BXYF
					});
					GetTableDataByClinicPre(data.ClinicRegisterCode);
			    //layer.alert(JSON.stringify(data), {
			     // title: '当前行数据'
			   // });			    
			    //标注选中样式
			    obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
			  });
			});
		</script>
	</body>
</html>
