<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>统计查询违规记录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>

<body>
    <!--<div class="layui-col-md12">
        <table id="tipdata"  lay-filter="userFilter" class="layui-table"></table>
    </div>-->
    <table id="tipdata"  lay-filter="userFilter" class="layui-table"></table>
</body>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script src="../../../layuiadmin/modules/tableSelect.js"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'admin', 'form', 'util', 'laydate', 'setter', 'table', 'tableSelect'], function () {
        var $ = layui.$,
            admin = layui.admin,
            table = layui.table,
            datepicker = layui.laydate,
            view = layui.view,
            util = layui.util,
            form = layui.form,
            setter = layui.setter,
            tableSelect = layui.tableSelect;
        var tokenvalue = 'Bearer ' + layui.data(setter.tableName)[setter.request.tokenName];

        function getQueryString(name){
            var urlParams = location.search.substr(1).split('&');
            for (var i = 0; i < urlParams.length; i++) {
                if(name == urlParams[i].split('=')[0]){
                    return decodeURI(urlParams[i].split('=')[1]);
                }
            }
        }
        var CheckResultInfoCode = getQueryString('code');
        var rulescode = getQueryString('rulescode');
        var complaintCode = getQueryString('complaintCode');
        if(rulescode == 'B001' || rulescode == 'B004'){
        	getXJDescribe(CheckResultInfoCode);
        }else{
        	getDescribe(complaintCode);
        }
        function getXJDescribe(CheckResultInfoCode) {
            var mask = parent.layer.load(1)
            table.render({
                elem: '#tipdata',
                url: setter.base_url + 'afterengine/ComplaintMZL/GetFisrtWGConfirmList',
                toolbar: '',
                title: ' ',
                cols: [
                    [
                        {
                            type: 'numbers',
                            title: '序号',
                            align: 'center',
                            width: 80,
                        },
                        {
                            field: 'RulesName',
                            title: '规则信息',
                            width: 200,
                            align: 'center'
                        },
                        {
                            field: 'DetailName',
                            title: '明细',
                            width: 450,
                            align: 'center'
                        },
                        {
                            field: 'ItemCode',
                            title: '项目编码',
                            width: 200,
                            align: 'center'
                        },                                             
                        {
                            field: 'Price',
                            title: '违规费用(元)',
                            width: 130,
                            style: 'color:#F00',
                            align: 'center'
                        },
                         {
                            field: 'DJ',
                            title: '单价(元)',
                            width: 130,
                            align: 'center'
                        },
                        {
                            field: 'LimitPrice',
                            title: '限价',
                            width: 130,
                            align: 'center'
                        },
                        {
                            field: 'CLimitPrice',
                            title: '超限价',
                            width: 130,
                            align: 'center'
                        },
                         {
                            field: 'Count',
                            title: '数目',
                            width: 130,
                            align: 'center'
                        }
                    ]
                ],
                id: 'tipdata',
                where: {
                    CheckResultInfoCode: CheckResultInfoCode
                },
                headers: {
                    Authorization: tokenvalue
                },
                height: '320',
                done: function (result) {
                    parent.layer.close(mask);
                }
            })
        }
        function getDescribe(complaintCode) {
            var mask = parent.layer.load(1)
            table.render({
                elem: '#tipdata',
                url: setter.base_url + 'afterengine/ComplaintMZL/GetWGQRInfoListByZJ',
                toolbar: '',
                title: ' ',
                method:'Get',
                cols: [[]],
                id: 'tipdata',
                where: {
                    complaintCode: complaintCode
                },
                headers: {
                    Authorization: tokenvalue
                },
                height: '600',
                done: function (result) {
                   var myData=new Array();
                   if(result.data.DJ == 'undefined'){
                   	myData[0]={type:'numbers',title : '序号', align: 'center',width: 80};
                   	myData[1]={field:'RulesName',title : '规则信息', align: 'center',width: 200};
                   	myData[2]={field:'PreName',title : '明细', align: 'center',width: 450};
                   	myData[3]={field:'Price',title : '总金额', align: 'center',width: 130};
                   }else{
                   	myData[0]={type:'numbers',title : '序号', align: 'center',width: 80};
                   	myData[1]={field:'RulesName',title : '规则信息', align: 'center',width: 200};
                   	myData[2]={field:'PreName',title : '明细', align: 'center',width: 450};
                   	myData[2]={field:'ItemCode',title : '项目编码', align: 'center',width: 450};
                   	myData[3]={field:'Price',title : '总金额', align: 'center',width: 130};
                   	myData[4]={field:'DJ',title : '单价', align: 'center',width: 130};
                   	myData[5]={field:'Count',title : '数量', align: 'center',width: 130};
                   }
                   table.init('userFilter',{//转换成静态表格
							 cols:[myData]
							,data:result.data,
							height: '320'
							});

                    parent.layer.close(mask);
                }
            })
        }
    })
</script>

</html>