<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>首页</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
	</head>

	<body>

		<div class="layui-fluid">
			<div class="layui-row layui-col-space15">
				<div class="layui-col-sm6 layui-col-md3">
					<div class="layui-card">
						<div class="layui-card-header">
							住院就诊人次数
							<span class="layui-badge layui-bg-green layuiadmin-badge">截止当前</span>
						</div>
						<div class="layui-card-body layuiadmin-card-list">
							<p id="HosInfoCount" class="layuiadmin-big-font">
							</p>
							<p>
								---
								<span class="layuiadmin-span-color"> <i class="layui-inline layui-icon layui-icon-user"></i></span>
							</p>
						</div>
					</div>
				</div>
				<div class="layui-col-sm6 layui-col-md3">
					<div class="layui-card">
						<div class="layui-card-header">
							住院审核人次数
							<span class="layui-badge layui-bg-green layuiadmin-badge">截止当前</span>
						</div>
						<div class="layui-card-body layuiadmin-card-list">
							<p id="HosInfoCheckCount" class="layuiadmin-big-font">
								<!--25635-->
							</p>
							<p>
								违规人次数
								<span id="HosInfoCheckErrorCount" class="layuiadmin-span-color"><!--5004--> <i class="layui-inline layui-icon layui-icon-user"></i></span>
							</p>
						</div>
					</div>
				</div>
				<div class="layui-col-sm6 layui-col-md3">
					<div class="layui-card">
						<div class="layui-card-header">
							门诊就诊人次数据
							<span class="layui-badge layui-bg-green layuiadmin-badge">截止当前</span>
						</div>
						<div class="layui-card-body layuiadmin-card-list">

							<p id="ClinicInfoCount" class="layuiadmin-big-font">
								<!--6666-->
							</p>
							<p>
								---
								<span class="layuiadmin-span-color"> <i class="layui-inline layui-icon layui-icon-user"></i></span>
							</p>
						</div>
					</div>
				</div>
				<div class="layui-col-sm6 layui-col-md3">
					<div class="layui-card">
						<div class="layui-card-header">
							门诊审核人次数
							<span class="layui-badge layui-bg-green layuiadmin-badge">截止当前</span>
						</div>
						<div class="layui-card-body layuiadmin-card-list">
							<p id="ClinicInfoCheckCount" class="layuiadmin-big-font">
								0<!--33555-->
							</p>
							<p>
								违规人次数
								<span id="ClinicInfoCheckErrorCount" class="layuiadmin-span-color"><!--3555--> <i class="layui-inline layui-icon layui-icon-user"></i></span>
							</p>
						</div>
					</div>
				</div>

				<div class="layui-col-sm12">
					<div class="layui-card">
						<div class="layui-card-header">
							审核情况分析
						</div>
						<div class="layui-card-body">
							<div class="layui-row">

								<div class="layui-col-sm8">
									<div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-pagetwo">
										<div carousel-item id="LAY-index-pagetwo">
											<div>
												<i class="layui-icon layui-icon-loading1 layadmin-loading"></i>
											</div>
										</div>
									</div>
								</div>

								<div class="layui-col-sm4">
									<div class="layuiadmin-card-list">
										<p class="layuiadmin-normal-font" style="font-size: 15px">一级医院</p>
										<span>违规人次占比</span>
										<div class="layui-progress layui-progress-big" lay-filter="OneProportion" lay-showpercent="true">
											<div class="layui-progress-bar layui-bg-green" lay-percent="0%"></div>
										</div>

									</div>
									<div class="layuiadmin-card-list">
										<p class="layuiadmin-normal-font" style="font-size: 15px">二级医院</p>
										<span>违规人次占比</span>
										<div lay-filter="TwoProportion" class="layui-progress layui-progress-big" lay-showPercent="true">
											<div class="layui-progress-bar layui-bg-green" lay-percent="0%">
											</div>
										</div>
									</div>
									<div class="layuiadmin-card-list">
										<p class="layuiadmin-normal-font" style="font-size: 15px">三级医院</p>
										<span>违规人次占比</span>
										<div lay-filter="ThreeProportion" class="layui-progress layui-progress-big" lay-showPercent="true">
											<div class="layui-progress-bar layui-bg-green" lay-percent="0%">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<script src="../../layuiadmin/layui/layui.js"></script>
		<script>
			layui.config({
				base: '../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'form', 'element', 'carousel', 'echarts'], function() {
				var $ = layui.jquery,
					element = layui.element,
					form = layui.form,
					admin = layui.admin,
					carousel = layui.carousel,
					echarts = layui.echarts,
					device = layui.device();
//				//轮播切换
//				$('.layadmin-carousel').each(function() {
//					var othis = $(this);
//					carousel.render({
//						elem: this,
//						width: '100%',
//						arrow: 'none',
//						interval: othis.data('interval'),
//						autoplay: othis.data('autoplay') === true,
//						trigger: (device.ios || device.android) ? 'click' : 'hover',
//						anim: othis.data('anim')
//					});
//				});
//
//				//获取就诊人次数据
//				var hosdata = [],
//					hosdata_wg = [],
//					clinicdata = [],
//					clinicdata_wg = [];
//				GetData();
//				Getecharts(hosdata, hosdata_wg, clinicdata, clinicdata_wg);
//				GetHosData();				

				function GetData() {
					var maxmonth = 0;
					//住院就诊人次
					admin.req({
						url: layui.setter.base_url + 'afterengine/SupervisionInfo/GetMonthCountList',
						type: 'get',
						async: false,
						data: {
							year: '2019',
							flag: '1',
							status: '1'
						}, //住院就诊人次
						done: function(result) {
							if(result.code == "0") {
								$.each(result.data, function(index, item) {
									maxmonth = item.Month;
									hosdata.push(parseInt(item.Count));
								});
								GetData1();
							}
						}
					});

					for(var i = maxmonth; i < 12; i++) {
						hosdata.push(0);
					}
				}

				function GetData1() {
					var maxmonth1 = 0;
					//住院违规就诊人次
					admin.req({
						url: layui.setter.base_url + 'afterengine/SupervisionInfo/GetMonthCountList',
						type: 'get',
						async: false,
						data: {
							year: '2019',
							flag: '1',
							status: '2'
						},
						done: function(result) {
							if(result.code == "0") {
								$.each(result.data, function(index, item) {
									maxmonth1 = item.Month;
									hosdata_wg.push(item.Count);
								});
								GetData2();
							}
						}
					});
					for(var i = maxmonth1; i < 12; i++) {
						hosdata_wg.push(0);
					}
				}

				function GetData2() {
					var maxmonth2 = 0;
					//门诊就诊人次
					admin.req({
						url: layui.setter.base_url + 'afterengine/SupervisionInfo/GetMonthCountList',
						type: 'get',
						async: false,
						data: {
							year: '2019',
							flag: '2',
							status: '1'
						},
						done: function(result) {
							if(result.code == "0") {
								$.each(result.data, function(index, item) {
									maxmonth2 = item.Month;
									clinicdata.push(item.Count);
								});
								GetData3();
							}
						}
					});
					//判断当前是几月份，后面的月份都设为0
					for(var i = maxmonth2; i < 12; i++) {
						clinicdata.push(0);
					}

				}

				function GetData3() {
					var maxmonth3 = 0;
					//门诊违规就诊人次
					admin.req({
						url: layui.setter.base_url + 'afterengine/SupervisionInfo/GetMonthCountList',
						type: 'get',
						async: false,
						data: {
							year: '2019',
							flag: '2',
							status: '2'
						},
						done: function(result) {
							if(result.code == "0") {
								$.each(result.data, function(index, item) {
									maxmonth3 = item.Month;
									clinicdata_wg.push(item.Count);
								});
							}
						}
					});

					for(var i = maxmonth3; i < 12; i++) {
						clinicdata_wg.push(0);
					}
				}

				function Getecharts(hosdata, hosdata_wg, clinicdata, clinicdata_wg) {
					var echartsApp = [],
						options = [{
							tooltip: {
								trigger: 'axis'
							},
							calculable: true,
							color: ['#5F9EA0', '#FF0000', '#6495ED', '#FFA500'],
							legend: {
								data: ['住院就诊人次', '住院违规人次', '门诊就诊人次', '门诊违规人次']
							},
							xAxis: [{
								type: 'category',
								data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
							}],
							yAxis: [{
									type: 'value',
									name: '住院就诊人次',
									axisLabel: {
										formatter: '{value}'
									}
								},
								{
									type: 'value',
									name: '门诊就诊人次',
									axisLabel: {
										formatter: '{value}'
									}
								}
							],
							series: [{
									name: '住院就诊人次',
									type: 'line',
									data: hosdata,
									itemStyle: {
										normal: {
											lineStyle: {
												width: 2,
												type: 'dotted',
												color: '#5F9EA0'
											}
										}
									},
								},
								{
									name: '住院违规人次',
									type: 'line',
									data: hosdata_wg,
									itemStyle: {
										normal: {
											lineStyle: {
												width: 2,
												type: 'dotted',
												color: '#FF0000'
											}
										}
									},
								},
								{
									name: '门诊就诊人次',
									type: 'line',
									data: clinicdata,
									itemStyle: {
										normal: {
											lineStyle: {
												width: 2,
												type: 'dotted',
												color: '#6495ED'
											}
										}
									},
								},
								{
									name: '门诊违规人次',
									type: 'line',
									data: clinicdata_wg,
									itemStyle: {
										normal: {
											lineStyle: {
												width: 2,
												type: 'dotted',
												color: '#FFA500'
											}
										}
									},
								}
							]
						}],
						elemDataView = $('#LAY-index-pagetwo').children('div'),
						renderDataView = function(index) {
							echartsApp[index] = echarts.init(elemDataView[index], layui.echartsTheme);
							echartsApp[index].setOption(options[index]);
							window.onresize = echartsApp[index].resize;
						};
					//没找到DOM，终止执行
					if(!elemDataView[0]) return;
					renderDataView(0);

				}

				function GetHosData() {
					//加载数据显示
					admin.req({
						url: layui.setter.base_url + 'afterengine/HosDayError/GetHomeIndexParameter',
						type: 'get',
						async: false,
						done: function(result) {
							if(result.code == "0") {
								$("#HosInfoCount").html(result.data[0].HosInfoCount);
								$("#HosInfoCheckCount").html(result.data[0].HosInfoCheckCount);
								$("#HosInfoCheckErrorCount").html(result.data[0].HosInfoCheckErrorCount);
								$("#ClinicInfoCount").html(result.data[0].ClinicInfoCount);
								//$("#ClinicInfoCheckCount").html(result.data[0].ClinicInfoCheckCount);
								$("#ClinicInfoCheckErrorCount").html(result.data[0].ClinicInfoCheckErrorCount);
								setTimeout(function() {
									element.progress('OneProportion', result.data[0].OneProportion);
									element.progress('TwoProportion', result.data[0].TwoProportion);
									element.progress('ThreeProportion', result.data[0].ThreeProportion);
								}, 500);
							}
							GetClinicData();
						}
					});
				}

				function GetClinicData() {
					admin.req({
						url: layui.setter.base_url + 'afterengine/HosDayError/GetHomeIndexParameterClinic',
						type: 'get',
						async: false,
						done: function(result) {
							if(result.code == "0") {
								$("#ClinicInfoCount").html(result.data[0].ClinicInfoCount);
								//$("#ClinicInfoCheckCount").html(result.data[0].ClinicInfoCheckCount);
								$("#ClinicInfoCheckErrorCount").html(result.data[0].ClinicInfoCheckErrorCount);
							}
						}
					});
				}
			});
		</script>
	</body>

</html>