<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>医疗保障智能监管信息系统</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">

		<script>
			/^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
		</script>
	</head>

	<body class="layui-layout-body">
		<div id="LAY_app">
			<div class="layui-layout layui-layout-admin">
				<div class="layui-header">
					<!-- 头部区域 -->
					<ul class="layui-nav layui-layout-left">
						<li class="layui-nav-item layadmin-flexible" lay-unselect>
							<a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
								<i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
							</a>
						</li>

						<li class="layui-nav-item" lay-unselect>
							<a href="javascript:;" layadmin-event="refresh" title="刷新">
								<i class="layui-icon layui-icon-refresh-3"></i>
							</a>
						</li>
						<li class="layui-nav-item" lay-unselect>
							<a href="javascript:;" style="font-family: '微软雅黑';font-size: 30px;">
							      安全风险管理系统
							</a></li>
					</ul>
					<ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

						<li class="layui-nav-item layui-hide-xs" lay-unselect>
							<a href="javascript:;" layadmin-event="theme">
								<i class="layui-icon layui-icon-theme"></i>
							</a>
						</li>

						<li class="layui-nav-item layui-hide-xs" lay-unselect>
							<a href="javascript:;" layadmin-event="fullscreen">
								<i class="layui-icon layui-icon-screen-full"></i>
							</a>
						</li>
						<li class="layui-nav-item" lay-unselect>
							<a href="javascript:;">
								<cite id="cusername"></cite>
							</a>
							<dl class="layui-nav-child">
								<dd>
									<a lay-href="set/user/password.html">修改密码</a>
								</dd>
								<hr>
								<dd layadmin-event="logout" style="text-align: center;">
									<a>退出</a>
								</dd>
							</dl>
						</li>

						<li class="layui-nav-item layui-hide-xs" lay-unselect>
							<a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
						</li>
						<li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
							<a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
						</li>
					</ul>
				</div>

				<!-- 侧边菜单 -->
				<div class="layui-side layui-side-menu">
					<div class="layui-side-scroll">
						<div class="layui-logo">
							<span id="username">功能导航</span>
						</div>
						<!-- 模板引擎渲染菜单 -->
						<div id="view">
						</div>

					</div>
				</div>

				<!-- 页面标签 -->
				<div class="layadmin-pagetabs" id="LAY_app_tabs">
					<div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
					<div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
					<div class="layui-icon layadmin-tabs-control layui-icon-down">
						<ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
							<li class="layui-nav-item" lay-unselect>
								<a href="javascript:;"></a>
								<dl class="layui-nav-child layui-anim-fadein">
									<dd layadmin-event="closeThisTabs">
										<a href="javascript:;">关闭当前标签页</a>
									</dd>
									<dd layadmin-event="closeOtherTabs">
										<a href="javascript:;">关闭其它标签页</a>
									</dd>
									<dd layadmin-event="closeAllTabs">
										<a href="javascript:;">关闭全部标签页</a>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
					<div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
						<ul class="layui-tab-title" id="LAY_app_tabsheader">
							<li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
						</ul>
					</div>
				</div>

				<!-- 主体内容 -->
				<div class="layui-body" id="LAY_app_body">
					<div class="layadmin-tabsbody-item layui-show">
						<iframe src="home/map_index.html" frameborder="0" class="layadmin-iframe"></iframe>
					</div>
				</div>

				<!-- 辅助元素，一般用于移动设备下遮罩 -->
				<div class="layadmin-body-shade" layadmin-event="shade"></div>
			</div>
		</div>
		<script src="../layuiadmin/layui/layui.js"></script>
		<!-- 模板引擎 -->
		<script id="demo" type="text/html">
			<ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
				<!--<li data-name="home" class="layui-nav-item layui-nav-itemed">
					<a href="javascript:;" lay-tips="首页" lay-direction="2">
						<i class="layui-icon layui-icon-home"></i>
						<cite>首页</cite>
					</a>
					<dl class="layui-nav-child">
						<dd data-name="console" class="layui-this">
							<a lay-href="home/map_index.html">地图</a>
						</dd>
					</dl>
				</li>-->
				{{# layui.each(d.list, function(index, item){ }} {{# if(item.ParentId=="0" ) {}}
				<li data-name={{=item.ModuleCode}} class="layui-nav-item">
					<a href="javascript:;" lay-tips={{=item.ModuleName}} lay-direction="2">
						<i class="layui-icon {{=item.Icon}}"></i>
						<cite>{{=item.ModuleName}}</cite>
					</a>
					<dl class="layui-nav-child">
						{{# layui.each(d.list, function(index, lowermodule){ }} {{# if(lowermodule.ParentId==item.ModuleId) {}}
						{{#  if(lowermodule.ModuleId == '9CE8122A-B1B9-4514-85F6-2662EE6BD424'){ }}
						    
						    <dd data-name="button">
							<a href={{=lowermodule.Url}} target={{='_blank'}}>{{=lowermodule.ModuleName}}</a>
							</dd>
						{{#  } else { }}	
						<dd data-name="button">
							<a lay-href={{=lowermodule.Url}}>{{=lowermodule.ModuleName}}</a>
						</dd>
						  {{#  } }} 
						
						{{# }}}  {{# }); }}
					</dl>
				</li>
				{{# }}} {{# }); }}
			</ul>
		</script>

		<script>
			layui.config({
				base: '../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'admin', 'element', 'laytpl', 'user'], function() {
				var $ = layui.$,
					setter = layui.setter,
					admin = layui.admin,
					form = layui.form,
					router = layui.router(),
					search = router.search;
				var element = layui.element;
				var laytpl = layui.laytpl;
				getmodule(); //功能菜单
				getuserinfo(); //当前用户
				//请求功能菜单
				function getmodule() {
					
					admin.req({
						url: layui.setter.base_url + 'api/Module/GetUserModule',
						type: 'get',
						async:false,
						done: function(res) {
							if(res.code == 0) {
								data = {
									"title": "功能菜单",
									"list": res.data
								};
								var getTpl = demo.innerHTML,
									view = document.getElementById('view');
								laytpl(getTpl).render(data, function(html) {
									view.innerHTML = html;
								});
								element.init();
							} else {
								layer.msg(res.msg, {
									offset: '15px',
									icon: -1,
									time: 1000
								})
							}
						}
					});
				}
				//请求当前用户
				function getuserinfo() {
					admin.req({
						url: layui.setter.base_url + 'api/User/GetUserInfo',
						type: 'get',
						async:false,
						done: function(res) {
							if(res.code == 0) {
								//$("#username").html(res.data.user_name)
								$("#cusername").html(res.data.user_name)
							} else {
								layer.msg(res.msg, {
									offset: '15px',
									icon: -1,
									time: 1000
								})
							}
						}
					});
				}
			});
		</script>
	</body>

</html>