
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
    <style>
        #resetQuery {
            margin-left: 3px;
        }
    </style>
</head>

<body>

    <div class="layui-row">
        <div class="layui-col-md12">
            <!-- form -->
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-form layui-form-pane layui-row layui-col-space5">
                        <div class="layui-col-md12">
                            <table class="layui-hide" id="datalist" lay-filter="datalist"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script src="../../../layuiadmin/modules/tableSelect.js"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'admin', 'form', 'util', 'laydate', 'setter', 'table', 'tableSelect'], function () {
        var $ = layui.$,
            admin = layui.admin,
            table = layui.table,
            datepicker = layui.laydate,
            view = layui.view,
            util = layui.util,
            form = layui.form,
            setter = layui.setter,
            tableSelect = layui.tableSelect;
        var tokenvalue = 'Bearer ' + layui.data(setter.tableName)[setter.request.tokenName];

        var indexs = layer.load(1);

        list();

        function list() {
            table.render({
                elem: '#datalist',
                url: layui.setter.base_url + 'afterengine/BeforeCheckEngine/GetBeforeResultDetailList',
                toolbar: '',
                title: '详情',
                cols: [
                    [{
                            type: 'numbers',
                            title: '序号',
                            align: 'center',
                            width: 80,
                            fixed: 'left'
                        },
                        {
                            field: 'RegisterCode',
                            title: '登记编码',
                            width: 180,
                            align: 'center',
                            fixed: 'left'
                        },
                        {
                            field: 'RulesName',
                            title: '规则名称',
                            width: 200,
                            align: 'center',
                            
                        },
                        {
                            field: 'COUNT',
                            title: '数量',
                            width: 180,
                            align: 'center',
                        },
                        {
                            field: 'Price',
                            title: '单价',
                            width: 180,
                            align: 'center'
                        },
                        {
                            field: 'LimitPrice',
                            title: '限价',
                            width: 180,
                            align: 'center'
                        },
                        {
                            field: 'CheckDate',
                            title: '审核日期',
                            width: 180,
                            align: 'center',
                        },
                        {
                            field: 'ResultDescription',
                            title: '审核描述',
                            width: 180,
                            align: 'center',
                        }
                    ]
                ],
                page: true,
                id: "IDTable",
                limit: 10, //每页显示5条
                limits: [10, 20, 40, 60, 80, 90],
                curr: 1,
                headers: {
                    Authorization: tokenvalue
                },
                where: {
                    registerCode: parent.orgdata.RegisterCode
                },
                height: $(window).height() - 100,
                done: function (res) {
                    layer.close(indexs);
                }
            })
        }
    })
</script>

</html>