<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>登入 - 安全风险管理系统</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="icon" href="../../layuiadmin/img/logo.png}" type="image/x-icon" />
		<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../layuiadmin/style/xadmin.css" media="all">
		<link rel="stylesheet" href="../../layuiadmin/style/font.css" media="all">
	</head>

	<body class="login-bg">		
		<!--<body>-->		
		<div class="login layui-anim layui-anim-up" id="LAY-user-login">
			<div class="message">安全风险管理系统</div>
			<div id="darkbannerwrap"></div>
			<div class="layui-form">
				<input name="username" id="LAY-user-login-username" placeholder="用户名" type="text" lay-verify="required" class="layui-input">
				<hr class="hr15">
				<input name="password" id="LAY-user-login-password" lay-verify="required" placeholder="密码" type="password" class="layui-input">
				<hr class="hr15">
				<input id="chk_math" value="登录" lay-submit lay-filter="LAY-user-login-submit" style="width:100%;" type="submit">
				<hr class="hr20">
			</div>
		</div>
		<div th:replace="base"></div>
		
		<script src="../../layuiadmin/layui/layui.js"></script>
		<script>
			layui.config({
				base: '../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'user'], function() {
				var $ = layui.$,
					setter = layui.setter,
					admin = layui.admin,
					form = layui.form,
					router = layui.router(),
					search = router.search;

				form.render();
				//提交
				form.on('submit(LAY-user-login-submit)', function(obj) {
					//请求登入接口
					admin.req({
						url: layui.setter.base_url + 'auth/Login/LoginCheck',
						data: obj.field,
						type: 'post',
						done: function(res) {
							//请求成功后，写入 access_token
							layui.data(setter.tableName, {
								key: setter.request.tokenName,
								value: res.data.TokenValue
							});
							//登入成功的提示与跳转
							layer.msg('登入成功', {
								offset: '15px',
								icon: 1,
								time: 1000
							}, function(result) {
							//	location.href = '../'; //后台主页		
							});
						}
					});

				});

				//回车触发搜索事件
				document.onkeydown = function(e) {
					e = e ? e : event; // 兼容FF
					if(e.keyCode == 13) {
						$("#chk_math").click(); //提交按钮的id
						return false; //防止页面跳转刷新掉
					}
				};

			});
		</script>
	</body>

</html>