<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>就诊疾病异常详情</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
		<style>
			.wrap {
				font-size: 0px;
				/*通过设置父元素字体大小为0；来消除div之间的空格。或者通过注释,<div>wwww</div><!--  --><div> wwww</div>*/
				padding: 10px;
				box-sizing: content-box;
				/*父元素是content-box模式*，为了计算右侧盒子的宽度，我们把子元素设置为border-box模式，这样宽度就是整个盒子的宽度了。*/
			}
			
			.left {
				box-sizing: border-box;
				display: inline-block;
				/*两个子元素都设置为inline-block*/
				vertical-align: top;
				/*两个inline-block的盒子，必须两个子元素都顶端对齐。*/
				width: 200px;
				/*height: 750px;*/
			}
			
			.right {
				box-sizing: border-box;
				display: inline-block;
				vertical-align: top;
				width: -webkit-calc(100% - 200px);
				width: calc(100% - 200px);
				/*减号前后要有空格，否则无效，减去的宽度必须计算清楚*/
				/*height: 750px;*/
			}
			
			.test-1::-webkit-scrollbar {
				/*滚动条整体样式*/
				width: 7px;
				/*高宽分别对应横竖滚动条的尺寸*/
				height: 1px;
			}
			
			.test-1::-webkit-scrollbar-thumb {
				/*滚动条里面小方块*/
				border-radius: 7px;
				-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
				background: #009688;
			}
			
			.test-1::-webkit-scrollbar-track {
				/*滚动条里面轨道*/
				-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
				border-radius: 7px;
				background: #EDEDED;
			}
		</style>
	</head>

	<body>
		<div class="layui-fluid">
			<div class="layui-row layui-col-space15">
				<div class="layui-col-sm12">
					<div class="layui-card">
						<div class="layui-card-body">
							<div class="layui-row">
								<div class="layui-tab layui-tab-card" lay-filter="filter">
									<ul class="layui-tab-title">
										<li class="layui-this">基本信息</li>
										<li>费用信息</li>
										<li>费用明细</li>
									</ul>
									<div class="layui-tab-content">
										<div class="layui-tab-item layui-show">
											<div class="layui-form-item">
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">姓名：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="Name" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">身份证号：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="IdNumber" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">性别：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="Gender" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
											</div>
											<div class="layui-form-item">
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">年龄：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="Age" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">人员类型：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="PersonalTypeName" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">民族：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="FolkName" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
											</div>
											<div class="layui-form-item">
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">就诊医院：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="InstitutionName" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">医院等级：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="InstitutiongGradeName" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">医院级别：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="InstitutionLevelName" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
											</div>
											<div class="layui-form-item">
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">入院日期：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="InHosDate" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">出院日期：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="OutHosDate" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">住院天数：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="InHosDay" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
											</div>
											<div class="layui-form-item">
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">疾病名称：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="DiseaseName" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">补偿年度：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="CompYear" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
											</div>
											<div class="layui-form-item">
												<div class="layui-inline" style=" width: 850px;">
													<label class="layui-form-label" style=" width:100px;">行政区划：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="CityAreaName" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" style="width:550px;">
													</div>
												</div>
											</div>
										</div>
										<div class="layui-tab-item">
											<div class="layui-form-item">
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">总费用：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="ZFY" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">医保报销费用：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="YBBXFY" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">个人自付费用：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="GRZFFY" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
											</div>
											<div class="layui-form-item">
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">目录内费用：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="MLNFY" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">目录外费用：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="MLWFY" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">西药费：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="XYF" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
											</div>
											<div class="layui-form-item">
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">中药费：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="ZYF" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">草药费：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="CYF" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">蒙药费：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="MYF" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
											</div>
											<div class="layui-form-item">
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">检查费：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="JCF" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">材料费：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="CLF" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">特殊费：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="TSF" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
											</div>
											<div class="layui-form-item">
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">诊疗费费：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="ZLF" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">化疗费：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="HLF" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">手术费：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="SSF" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
											</div>
											<div class="layui-form-item">
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">血液费：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="XUEYF" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">特检费：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="TJF" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">特治费：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="TZF" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
											</div>
											<div class="layui-form-item">
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">其他费：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="QTF" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
												<div class="layui-inline" style=" width: 320px;">
													<label class="layui-form-label" style=" width:100px;">靶向药费：</label>
													<div class="layui-input-block inputform">
														<input type="text" id="BXYF" autocomplete="off" placeholder="" class="layui-input" style="width:180px;">
													</div>
												</div>
											</div>
										</div>
										<div class="layui-tab-item">
											<table class="layui-hide" id="cfdetail" lay-filter="cfdetail"></table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../../layuiadmin/layui/layui.js"></script>
		<script type="text/javascript">
			layui.config({
				base: '../../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'admin', 'element', 'user', 'table'], function() {
				var $ = layui.$,
					setter = layui.setter,
					admin = layui.admin,
					form = layui.form,
					router = layui.router(),
					element = layui.element,
					table = layui.table;
				var tokenvalue = 'Bearer ' + layui.data(setter.tableName)[setter.request.tokenName];
				$(".layui-input").attr("disabled", "disabled");
				var regcode = $(window.parent.document).find("#regcode").val();
				var pcode = $(window.parent.document).find("#pcode").val();
				GetDetail(regcode, pcode);
				GetCFData(regcode);

				function GetDetail(code, peronalcode) {
					admin.req({
						url: layui.setter.base_url + 'afterengine/SupervisionInfo/GetYBHosInfoEntityByCondition',
						type: 'get',
						data: {
							hosRegisterCode: code,
							personalCode: peronalcode
						},
						dataType: "json",
						success: function(result) {
							$("#Name").val(result.data.Name);
							$("#IdNumber").val(result.data.IdNumber);
							$("#Gender").val(result.data.Gender);
							$("#Age").val(result.data.Age);
							$("#PersonalTypeName").val(result.data.PersonalTypeName);
							$("#FolkName").val(result.data.FolkName);
							$("#InstitutionName").val(result.data.InstitutionName);
							$("#InstitutiongGradeName").val(result.data.InstitutiongGradeName);
							$("#InstitutionLevelName").val(result.data.InstitutionLevelName);
							$("#InHosDate").val(result.data.InHosDate);
							$("#OutHosDate").val(result.data.OutHosDate);
							$("#InHosDay").val(result.data.InHosDay);
							$("#DiseaseName").val(result.data.DiseaseName);
							$("#CompYear").val(result.data.CompYear);
							$("#CityAreaName").val(result.data.CityAreaName);
							$("#ZFY").val(result.data.ZFY);
							$("#YBBXFY").val(result.data.YBBXFY);
							$("#GRZFFY").val(result.data.GRZFFY);
							$("#MLNFY").val(result.data.MLNFY);
							$("#MLWFY").val(result.data.MLWFY);
							$("#XYF").val(result.data.XYF);
							$("#ZYF").val(result.data.ZYF);
							$("#CYF").val(result.data.CYF);
							$("#MYF").val(result.data.MYF);
							$("#JCF").val(result.data.JCF);
							$("#CLF").val(result.data.CLF);
							$("#TSF").val(result.data.TSF);
							$("#ZLF").val(result.data.ZLF);
							$("#HLF").val(result.data.HLF);
							$("#SSF").val(result.data.SSF);
							$("#XUEYF").val(result.data.XUEYF);
							$("#TJF").val(result.data.TJF);
							$("#TZF").val(result.data.TZF);
							$("#QTF").val(result.data.QTF);
							$("#BXYF").val(result.data.BXYF);

						}
					});
				}

				function GetCFData(code) {
					table.render({
						elem: '#cfdetail',
						url: layui.setter.base_url + 'afterengine/HosDayError/GetCFDeatilListByCode',
						title: '处方明细表',
						totalRow: true,
						cols: [
							[{
									field: 'ItemName',
									title: '项目名称',
									width: 180,
									align: 'center',
									totalRowText: '合计'
								},
								{
									field: 'HisItemName',
									title: 'His项目名称',
									width: 180,
									align: 'center',
								},
								{
									field: 'CollectFeesCategoryName',
									title: '收费类别',
									width: 90,
									align: 'center',
								},
								{
									field: 'CollectFeesProjectGradeName',
									title: '收费项目等级',
									width: 120,
									align: 'center',
								},
								{
									field: 'PRICE',
									title: '单价',
									width: 80,
									align: 'center',
								},
								{
									field: 'COUNT',
									title: '数量',
									width: 80,
									align: 'center',
									totalRow: true
								},
								{
									field: 'ZFY',
									title: '总金额',
									width: 100,
									align: 'center',
									totalRow: true
								},
								{
									field: 'CompRatio',
									title: '报销比例',
									width: 100,
									align: 'center',
								},
								{
									field: 'YXJE',
									title: '有效金额',
									width: 100,
									align: 'center',
									totalRow: true
								},
								{
									field: 'BKBXJE',
									title: '不可报销金额',
									width: 120,
									align: 'center',
									totalRow: true
								}
							]
						],
						page: true,
						id: "Table",
						limit: 8,
						limits: [10, 20, 30, 40, 50],
						curr: 1,
						where: {
							token: tokenvalue,
							hosregistercode: code,
						},
						headers: {
							Authorization: tokenvalue
						},
						done: function(res) {

						}
					});
				}

			});
		</script>
	</body>

</html>