<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<title>功能按钮</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">

	<body>
		<div class="layui-fluid">
			<div class="layui-card">

				<div class="layui-card-body">
					<div style="padding-bottom: 10px;">
						<button class="layui-btn layuiadmin-btn-useradmin layui-btn-sm" data-type="add">新增</button>
						<button class="layui-btn layui-btn-danger layuiadmin-btn-useradmin layui-btn-sm" data-type="batchdel">批量删除</button>
					</div>

					<table id="LAY-actionbutton-manage" lay-filter="LAY-actionbutton-manage"></table>

					<script type="text/html" id="toolbar-actionbutton">
						<a class="layui-btn layuiadmin-btn-useradmin layui-btn-sm" lay-event="edit">编辑</a>
								<a class="layui-btn layui-btn-danger layuiadmin-btn-useradmin layui-btn-sm" lay-event="del">删除</a>
					</script>
				</div>
			</div>
		</div>
		<script src="../../../layuiadmin/layui/layui.js"></script>
		<script>
			layui.config({
				base: '../../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'form', 'table','admin','setter'], function() {
				var $ = layui.$,
					element = layui.element,
					table = layui.table,
					admin = layui.admin,
					setter = layui.setter,
					form = layui.form;
					var moduleId = parent.moduledata.ModuleId;
				form.render(null, 'layuiadmin-form-admin');
				//监听指定开关
				//form.on('switch(switchTest)', function (data) {
				//    this.checked ? 1 : 0;
				//});
				var tokenvalue= 'Bearer '+ layui.data(setter.tableName)[setter.request.tokenName];
				table.render({
					elem: '#LAY-actionbutton-manage',
					url: layui.setter.base_url +'api/ModuleButton/GetListByCondition',
					cols: [
						[{
							type: 'checkbox',
							fixed: 'left'
						}, {
							field: 'ButtonCode',
							fixed: 'left',
							title: '编号',
							width: 100
						}, {
							field: 'ButtonName',
							title: '名称',
							width: 140
						}, {
							field: 'ActionAddress',
							title: '地址',
							width: 220
						},{
							field: 'ModuleButtonId',
							title: '功能按钮Id',
							hide: true
						}, {
							field: 'ModuleId',
							title: '父Id',
							hide: true
						}, {
							field: 'SortCode',
							title: '排序',
							width: 100
						}, {
							title: '操作',
//							fixed: 'right',
							width: 220,
							align: 'center',
							toolbar: '#toolbar-actionbutton'
						}]
					],
					where:{token:tokenvalue,moduleId:moduleId},
					headers:{Authorization:tokenvalue},
					page: false,
					limit: 30,
					height: 'full-100',
					id: 'IdActionbutton',
					text: '对不起，加载出现异常！'
				});
				//监听工具条==功能按钮
				table.on('tool(LAY-actionbutton-manage)', function(obj) {
					actionbuttondata = obj.data;
					var data = obj.data;
					if(obj.event === 'del') {
						layer.confirm('确定删除吗？', function(index) {
							admin.req({
								url: layui.setter.base_url +'api/ModuleButton/Remove',
								data: {
									keyValue:data.ModuleButtonId
								},
								type: "post",
								dataType: "json",
								success: function(result) {
									layer.msg(result.msg, {
										icon: 1,
										time: 1000 //1秒关闭（如果不配置，默认是3秒）
									}, function() {});
									if(result.code == 0) {
										layer.close(index); //执行关闭 
										obj.del(); //删除对应行
									}
								}
							});
							layer.close(index);
						});
					} else if(obj.event === 'edit') {
						layer.open({
							type: 2,
							title: '编辑功能',
							content: 'actionbuttonform.html',
							maxmin: true,
							area: ['520px', '398px'],

						});
					}
				});
				var active = {
					//新增
					add: function() {
						actionbuttondata ="undefined";
						layer.open({
							type: 2,
							title: '添加功能',
							content: 'actionbuttonform.html',
							maxmin: true,
							area: ['520px', '398px']
						});
					},
					//批量删除
					batchdel: function() {
						var dataIdArray = new Array();
						var checkStatus = table.checkStatus('IdActionbutton'),
							checkData = checkStatus.data; //得到选中的数据
						if(checkData.length === 0) {
							return layer.msg('请选择数据', {
								icon: 0,
								time: 1000 //1秒关闭（如果不配置，默认是3秒）
							});
						}
						layer.confirm('确定删除吗？', function(index) {
							for(var i = 0; i < checkData.length; i++) {
								dataIdArray.push(checkData[i].ModuleButtonId);
							}
							//执行 Ajax 后重载
							admin.req({
								///	url: layui.setter.url_base + "DataDict/RemoveBatch",
								url: layui.setter.base_url +'api/ModuleButton/RemoveBatch',
								data: {
									keyValues: dataIdArray
								},
								type: "post",
								dataType: "json",
								done: function(result) {
									var icon = 1;

									if(result.code == 0) {
										layui.table.reload('IdActionbutton', {}); //刷新表格
									} else {
										icon = 0;
									}
									layer.msg(result.msg, {
										icon: icon,
										time: 1000 //1秒关闭（如果不配置，默认是3秒）
									});
								}
							});
						});
					},

				};
				$('.layui-btn.layuiadmin-btn-useradmin').on('click', function() {
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';
				});
			});
		</script>
	</body>

</html>