<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>系统功能</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
		<style>
			.wrap {
				font-size: 0px;
				/*通过设置父元素字体大小为0；来消除div之间的空格。或者通过注释,<div>wwww</div><!--  --><div> wwww</div>*/
				padding: 10px;
				box-sizing: content-box;
				/*父元素是content-box模式*，为了计算右侧盒子的宽度，我们把子元素设置为border-box模式，这样宽度就是整个盒子的宽度了。*/
			}
			
			.left {
				box-sizing: border-box;
				display: inline-block;
				/*两个子元素都设置为inline-block*/
				vertical-align: top;
				/*两个inline-block的盒子，必须两个子元素都顶端对齐。*/
				width: 200px;
				/*height: 750px;*/
			}
			
			.right {
				box-sizing: border-box;
				display: inline-block;
				vertical-align: top;
				width: -webkit-calc(100% - 200px);
				width: calc(100% - 200px);
				/*减号前后要有空格，否则无效，减去的宽度必须计算清楚*/
				/*height: 750px;*/
			}
			
			/* .test-1::-webkit-scrollbar { */
				/*滚动条整体样式*/
				/* width: 7px; */
				/*高宽分别对应横竖滚动条的尺寸*/
				/* height: 1px; */
			/* } */
			
			/* .test-1::-webkit-scrollbar-thumb { */
				/*滚动条里面小方块*/
				/* border-radius: 7px; */
				/* -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); */
				/* background: #009688; */
			/* } */
			
			/* .test-1::-webkit-scrollbar-track { */
				/*滚动条里面轨道*/
				/* -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); */
				/* border-radius: 7px; */
				/* background: #EDEDED; */
			/* } */
			#left .layui-form{
				height: 588px;
				overflow-y:auto;
			}
			#left .layui-form::-webkit-scrollbar {
				/*滚动条整体样式*/
				width: 7px;
				/*高宽分别对应横竖滚动条的尺寸*/
				height: 1px;
			}
			
			#left .layui-form::-webkit-scrollbar-thumb {
				/*滚动条里面小方块*/
				border-radius: 7px;
				-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
				box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
				background: #009688;
			}
			
			#left .layui-form::-webkit-scrollbar-track {
				/*滚动条里面轨道*/
				-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
				box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
				border-radius: 7px;
				background: #EDEDED;
			}

		</style>
	</head>

	<body>
		<div class="wrap">
			<div class="left" id="left">
				<hr/>
				<form class="layui-form">
					<div class="treeClass">
						<ul id="treeDemo" class="ztree"></ul>
					</div>
				</form>
			</div>
			<div class="right" id="right">
				<script type="text/html" id="toolbarDemo">
					<div class="layui-btn-container">
						<button class="layui-btn layui-btn-sm" lay-event="add">新增</button>
						<button class="layui-btn layui-btn-sm" lay-event="batchdel">批量删除</button>
					</div>
				</script>
				<table id="LAY-module-manage" lay-filter="LAY-module-manage"></table>
				<script type="text/html" id="toolbar-module">
					<a class="layui-btn layuiadmin-btn-useradmin layui-btn-sm" lay-event="actionbtn">功能按钮</a>
					<a class="layui-btn layuiadmin-btn-useradmin layui-btn-sm " lay-event="edit">编辑</a>
					<a class="layui-btn layui-btn-danger layuiadmin-btn-useradmin layui-btn-sm" lay-event="del">删除</a>
				</script>
			</div>
		</div>
		
		

		<!--<div class="layui-fluid">
			<div class="layui-card">
				<div class="layui-card-body">
					<div class="layui-row layui-col-space20">
						<div class="layui-col-md2 ">
							<div>功能目录
								<hr/>
							</div>
							<form class="layui-form">
								<div class="treeClass">
									<ul id="treeDemo" class="ztree"></ul>
								</div>
							</form>
						</div>
						<div class="layui-col-md10 layui-form layui-card-header layuiadmin-card-header-auto layui-form-pane">
							<div class="layui-form-item">
								<label class="layui-form-label" style="height: 38px;">查询条件</label>
								<div class="layui-input-inline" style="height: 38px;width: 200px;">
									<select name="DataPower" id="DataPower">
										<option value=""></option>
										<option value="ModuleCode">菜单编码</option>
										<option value="ModuleName">菜单名称</option>
									</select>
								</div>
								<div class="layui-input-inline">
									<input type="text" style="height: 38px;" name="name" id="name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
								</div>
								<button class="layui-btn layuiadmin-btn-useradmin " data-type="search">查询</button>
								<div class="layui-inline" style="float: right;">
									<button class="layui-btn layuiadmin-btn-useradmin " data-type="add">新增</button>
									<button class="layui-btn layui-btn-danger layuiadmin-btn-useradmin " data-type="batchdel">批量删除</button>
								</div>
							</div>-->
<!--							
							<table id="LAY-module-manage" lay-filter="LAY-module-manage"></table>
							<script type="text/html" id="toolbar-module">
								<a class="layui-btn layuiadmin-btn-useradmin layui-btn-sm" lay-event="actionbtn">功能按钮</a>
								<a class="layui-btn layuiadmin-btn-useradmin layui-btn-sm " lay-event="edit">编辑</a>
								<a class="layui-btn layui-btn-danger layuiadmin-btn-useradmin layui-btn-sm" lay-event="del">删除</a>
							</script>
						</div>
					</div>

				</div>
			</div>
		</div>-->
		<script src="../../../layuiadmin/layui/layui.js"></script>
		<link rel="stylesheet" href="../../../layuiadmin/style/extend/zTree_v3/zTreeStyle/zTreeStyle.css" type="text/css">
		<script type="text/javascript" src="../../../layuiadmin/lib/extend/zTree_v3/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="../../../layuiadmin/lib/extend/zTree_v3/jquery.ztree.core.js"></script>

		<script>
			layui.config({
				base: '../../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'admin', 'tree', 'table', 'setter'], function() {
				var $ = layui.$,
					admin = layui.admin,
					view = layui.view,
					table = layui.table,
					setter = layui.setter,
					form = layui.form;
				var setting = {
					data: {
						key: {
							name: "ModuleName"
						},
						simpleData: {
							enable: true,
							idKey: "ModuleId",
							pIdKey: "ParentId",
							rootPId: 0
						}
					},
					callback: {
						onClick: onClick
					}
				};
				getdata();

				function getdata() {
					admin.req({
						url: layui.setter.base_url + "api/Module/GetListByCondition",
						type: "get",
						dataType: "json",
						async: false,
						success: function(result) {
							$.fn.zTree.init($("#treeDemo"), setting, result.data);
						}
					});
				}

				function onClick(event, treeId, treeNode, clickFlag) {
					table.reload('IdModule', {
						where: {
							keyword: null,
							condition: null,
							parentId: treeNode.ModuleId
						}
					});
				}

				function getTime() {
					var now = new Date(),
						h = now.getHours(),
						m = now.getMinutes(),
						s = now.getSeconds();
					return(h + ":" + m + ":" + s);
				};

				var tokenvalue = 'Bearer ' + layui.data(setter.tableName)[setter.request.tokenName];
				table.render({
					elem: '#LAY-module-manage',
					url: layui.setter.base_url + 'api/Module/GetPageListByCondition',
					toolbar: '#toolbarDemo',
					cols: [
						[{
							type: 'checkbox',
							fixed: 'left'
						}, {
							field: 'ModuleCode',
							title: '编号',
							width: 80
						}, {
							field: 'ModuleName',
							title: '名称',
							width: 130
						}, {
							field: 'Url',
							title: '地址',
							width: 220
						}, {
							field: 'SortCode',
							title: '排序',
							width: 80
						}, {
							field: 'Remark',
							title: '备注',
							width: 200
						}, {
							field: 'ModuleId',
							title: '系统ID',
							hide: true
						}, {
							field: 'ParentId',
							title: '父ID',
							hide: true
						}, {
							field: 'DeleteMark',
							title: '删除符号',
							hide: true
						}, {
							//							fixed: 'right',
							width: 220,
							align: 'center',
							title: '操作',
							toolbar: '#toolbar-module'
						}]
					],
					where: {
						token: tokenvalue,
						parentId: '0'
					},
					headers: {
						Authorization: tokenvalue
					},
					page: true,
					limit: 15,
					height: 'full-50',
					id: 'IdModule',

					text: '对不起，加载出现异常！'
				});

				//监听工具条==系统功能
				table.on('tool(LAY-module-manage)', function(obj) {

					moduledata = obj.data;
					var data = obj.data;
					if(obj.event === 'del') {
						layer.confirm('确定删除吗？', function(index) {
							admin.req({
								url: layui.setter.base_url + 'api/Module/Remove',
								data: {
									keyValue: data.ModuleId
								},
								type: "post",
								dataType: "json",
								success: function(result) {
									layer.msg(result.msg, {
										icon: 1,
										time: 1000 //1秒关闭（如果不配置，默认是3秒）
									}, function() {});
									if(result.code == 0) {
										layer.close(index); //执行关闭 
										obj.del(); //删除对应行
									}
								}
							});
							layer.close(index);
						});
					} else if(obj.event === 'edit') {
						layer.open({
							type: 2,
							title: '编辑系统功能',
							content: 'form.html',
							maxmin: true,
							area: ['781px', '500px'],
						});
					} else if(obj.event === 'actionbtn') {
						layer.open({
							type: 2,
							title: '功能按钮',
							content: 'actionbutton.html',
							maxmin: true,
							area: ['900px', '670px'],

						});
					}
				});
				
				
				//头工具栏事件
				table.on('toolbar(LAY-module-manage)', function(obj) {
					var checkStatus = table.checkStatus(obj.config.id);
					switch(obj.event) 
					{
						case 'batchdel':
						var dataIdArray = new Array();
						var checkStatus = table.checkStatus('IdModule'),
							checkData = checkStatus.data; //得到选中的数据
						if(checkData.length === 0) {
							return layer.msg('请选择数据', {
								icon: 0,
								time: 1000 //1秒关闭（如果不配置，默认是3秒）
							});
						}
						layer.confirm('确定删除吗？', function(index) {
							for(var i = 0; i < checkData.length; i++) {
								dataIdArray.push(checkData[i].ModuleId);
							}
							//执行 Ajax 后重载
							admin.req({
								///	url: layui.setter.url_base + "DataDict/RemoveBatch",
								url: layui.setter.base_url + 'api/Module/RemoveBatch',
								data: {
									keyValues: dataIdArray
								},
								type: "post",
								dataType: "json",
								done: function(result) {
									var icon = 1;

									if(result.code == 0) {
										layui.table.reload('IdModule', {}); //刷新表格
									} else {
										icon = 0;
									}
									layer.msg(result.msg, {
										icon: icon,
										time: 1000 //1秒关闭（如果不配置，默认是3秒）
									});
								}
							});
						});
						break;
						
						case 'add':
						var zTreeOjb = $.fn.zTree.getZTreeObj("treeDemo"); //ztree的Id  zTreeId
						var selectedNodes = zTreeOjb.getSelectedNodes();
						//	alert(selectedNodes);
						if(selectedNodes == "") {
							layer.msg("请选择添加的功能目录", {
								icon: 0,
								time: 1000 //1秒关闭（如果不配置，默认是3秒）
							});
							return;
						}
						parentid = selectedNodes[0].ModuleId;
						parentname = selectedNodes[0].name;
						moduledata = "undefined";
						layer.open({
							type: 2,
							title: '添加系统功能',
							content: 'form.html',
							maxmin: true,
							area: ['781px', '500px']
						})
						break;

					};
				});
				
				
				
				

//								事件
//				var active = {
//					//批量删除
//					batchdel: function() {
//						var dataIdArray = new Array();
//						var checkStatus = table.checkStatus('IdModule'),
//							checkData = checkStatus.data; //得到选中的数据
//						if(checkData.length === 0) {
//							return layer.msg('请选择数据', {
//								icon: 0,
//								time: 1000 //1秒关闭（如果不配置，默认是3秒）
//							});
//						}
//						layer.confirm('确定删除吗？', function(index) {
//							for(var i = 0; i < checkData.length; i++) {
//								dataIdArray.push(checkData[i].ModuleId);
//							}
//							//执行 Ajax 后重载
//							admin.req({
//								///	url: layui.setter.url_base + "DataDict/RemoveBatch",
//								url: layui.setter.base_url + 'api/Module/RemoveBatch',
//								data: {
//									keyValues: dataIdArray
//								},
//								type: "post",
//								dataType: "json",
//								done: function(result) {
//									var icon = 1;
//
//									if(result.code == 0) {
//										layui.table.reload('IdModule', {}); //刷新表格
//									} else {
//										icon = 0;
//									}
//									layer.msg(result.msg, {
//										icon: icon,
//										time: 1000 //1秒关闭（如果不配置，默认是3秒）
//									});
//								}
//							});
//						});
//					},
//
//					//新增
//					add: function() {
//						var zTreeOjb = $.fn.zTree.getZTreeObj("treeDemo"); //ztree的Id  zTreeId
//						var selectedNodes = zTreeOjb.getSelectedNodes();
//						//	alert(selectedNodes);
//						if(selectedNodes == "") {
//							layer.msg("请选择添加的功能目录", {
//								icon: 0,
//								time: 1000 //1秒关闭（如果不配置，默认是3秒）
//							});
//							return;
//						}
//						parentid = selectedNodes[0].ModuleId;
//						parentname = selectedNodes[0].name;
//						moduledata = "undefined";
//						layer.open({
//							type: 2,
//							title: '添加系统功能',
//							content: 'form.html',
//							maxmin: true,
//							area: ['781px', '500px']
//						})
//					},
//
//					search: function() {
//						var name = $('#name');
//						var DataPower = $('#DataPower');
//						//执行重载
//						table.reload('IdModule', {
//							where: {
//								condition: DataPower.val(),
//								keyword: name.val(),
//								parentId: null
//							}
//						});
//
//					}
//
//				};
//				
				
				$('.layui-btn.layuiadmin-btn-useradmin').on('click', function() {
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';
				});

			})
		</script>
	</body>

</html>