<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>药品信息管理</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
		<style>
			.wrap {
				font-size: 0px;
				/*通过设置父元素字体大小为0；来消除div之间的空格。或者通过注释,<div>wwww</div><!--  --><div> wwww</div>*/
				padding: 10px;
				box-sizing: content-box;
				/*父元素是content-box模式*，为了计算右侧盒子的宽度，我们把子元素设置为border-box模式，这样宽度就是整个盒子的宽度了。*/
			}
			
			.left {
				box-sizing: border-box;
				display: inline-block;
				/*两个子元素都设置为inline-block*/
				vertical-align: top;
				/*两个inline-block的盒子，必须两个子元素都顶端对齐。*/
				width: 200px;
				/*height: 750px;*/
				max-height: 600px;
			}
			
			.right {
				box-sizing: border-box;
				display: inline-block;
				vertical-align: top;
				width: -webkit-calc(100% - 200px);
				width: calc(100% - 200px);
				/*减号前后要有空格，否则无效，减去的宽度必须计算清楚*/
				/*height: 750px;*/
			}
			
			.test-1::-webkit-scrollbar {
				/*滚动条整体样式*/
				width: 7px;
				/*高宽分别对应横竖滚动条的尺寸*/
				height: 1px;
			}
			
			.test-1::-webkit-scrollbar-thumb {
				/*滚动条里面小方块*/
				border-radius: 7px;
				-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
				background: #009688;
			}
			
			.test-1::-webkit-scrollbar-track {
				/*滚动条里面轨道*/
				-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
				border-radius: 7px;
				background: #EDEDED;
			}
		</style>
	</head>

	<body>
		<div class="wrap">
			<div class="left test-1" style="overflow-y: scroll;" id="left">
				<hr/>
				<form class="layui-form">
					<div class="treeClass">
						<ul id="treeDemo" class="ztree"></ul>
					</div>
				</form>
			</div>
			<div class="right" id="right">
				<script type="text/html" id="toolbarDemo">
					<div class="layui-btn-container">
						<button class="layui-btn layui-btn-sm" lay-event="search">查询</button>
						<button class="layui-btn layui-btn-sm" lay-event="add">新增</button>
					</div>
				</script>
				<table class="layui-hide" id="test" lay-filter="test"></table>
				<script type="text/html" id="barDemo">
					<a class="layui-btn layui-btn-sm" lay-event="edit">编辑</a>
					<a class="layui-btn layui-btn-sm" lay-event="detail">详情</a>
					<a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
				</script>
			</div>
		</div>

		<script src="../../../layuiadmin/layui/layui.js"></script>
		<link rel="stylesheet" href="../../../layuiadmin/style/extend/zTree_v3/zTreeStyle/zTreeStyle.css" type="text/css">
		<script type="text/javascript" src="../../../layuiadmin/lib/extend/zTree_v3/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="../../../layuiadmin/lib/extend/zTree_v3/jquery.ztree.core.js"></script>
		<script type="text/javascript">
			layui.config({
				base: '../../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'admin', 'element', 'user', 'table'], function() {
				var $ = layui.$,
					setter = layui.setter,
					admin = layui.admin,
					form = layui.form,
					router = layui.router(),
					element = layui.element,
					table = layui.table;
				var tokenvalue = 'Bearer ' + layui.data(setter.tableName)[setter.request.tokenName];
				var alertheight = $(window).height() - 30;
				var indexs = layer.load(3);
				GetTableData();

				var setting = {
					data: {
						key: {
							name: "NAME"
						},
						simpleData: {
							enable: true,
							idKey: "ID",
							pIdKey: "PID",
							rootPId: 0
						}
					},
					callback: {
						onClick: onClick
					}
				};

				getdata();

				function getdata() {
					admin.req({
						url: layui.setter.base_url + "znsh/YPXX/GetChargeCategory",
						type: "get",
						dataType: "json",
						async: false,
						success: function(result) {
							
							$.fn.zTree.init($("#treeDemo"), setting, result.data);

							var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
							treeObj.expandAll(true);
						}
					});
				};

				function onClick(event, treeId, treeNode, clickFlag) {
					//alert(treeNode.AreaId);
					table.reload('IDTable', {
						where: {
							condition: 'DataType',
							flid: treeNode.ID,
							keyWord: null,
							orgname: null,
							drugcode: null,
							drugname: null,
							yplxmc: null
						}
					});
				}

				function GetTableData() {
					table.render({
						elem: '#test',
						url: layui.setter.base_url + 'znsh/YPXX/GetPageListByCondition',
						toolbar: '#toolbarDemo',
						title: '科室信息表',
						cols: [
							[{
									field: 'OrgName',
									title: '医疗机构名称',
									width: 185,
									align: 'center',
								},
								{
									field: 'YPBM',
									title: '药品编码',
									width: 185,
									align: 'center',
								},
								{
									field: 'YPMC',
									title: '药品名称',
									width: 180,
									align: 'center',
								},
								{
									field: 'YPJM',
									title: '药品简码',
									width: 135,
									align: 'center',
								},
								{
									field: 'FYLXMC',
									title: '费用类型名称',
									width: 135,
									align: 'center',
								},
								{
									field: 'GG',
									title: '规格',
									width: 95,
									align: 'center',
								},
								{
									field: 'DWMC',
									title: '单位名称',
									width: 100,
									align: 'center',
								},
								{
									field: 'JXMC',
									title: '剂型名称',
									width: 135,
									align: 'center',
								},
								{
									field: 'PRICE',
									title: '销售单价',
									width: 135,
									align: 'center',
								},
								{
									field: 'YBMLBS',
									title: '医保目录标识',
									width: 160,
									align: 'center',
									templet: function(d) {
										return d.YBMLBS == 'Y' ? '是' : '否'
									}
								},
								{
									field: 'YBDZYPBM',
									title: '医保对照药品编码',
									width: 160,
									align: 'center',
								},
								{
									field: 'Remark',
									title: '备注',
									width: 160,
									align: 'center',
								},
								{
									title: '操作',
									toolbar: '#barDemo',
									width: 200,
									fixed: 'right',
									align: 'center'
								}
							]
						],
						page: true,
						id: "IDTable",
						limit: 15, //每页显示15条
						limits: [15, 30, 45, 60, 75, 90],
						curr: 1,
						where: {
							token: tokenvalue,
							condition: "",
							keyword: ""
						},
						headers: {
							Authorization: tokenvalue
						},
						height: 'full-50',
						done: function(res) {
							layer.close(indexs);
							
						}
					});
				}
				//监听工具条==系统功能
				table.on('tool(test)', function(obj) {
					
					orgdata = obj.data;
					var data = obj.data;
					if(obj.event === 'del') {
						layer.confirm('确定删除吗？', function(index) {
							admin.req({
								url: layui.setter.base_url + 'znsh/YPXX/Remove',
								data: {
									keyValue: data.CRowId
								},
								type: "post",
								dataType: "json",
								success: function(result) {
									layer.msg(result.msg, {
										icon: 1,
										time: 1000 //1秒关闭（如果不配置，默认是3秒）
									}, function() {});
									if(result.code == 0) {
										layer.close(index); //执行关闭
										obj.del(); //删除对应行
										getdata(); //重新绑定左侧菜单
									}
								}
							});
							layer.close(index); //执行关闭
						});
					} else if(obj.event === 'edit') {
						var index = layer.open({
							type: 2,
							title: '编辑科室信息',
							content: 'form.html',
							maxmin: true,
							area: ['1100px', alertheight + 'px']
						});
						layer.full(index);
					} else if(obj.event === 'detail') {
						var index = layer.open({
							type: 2,
							title: '科室信息详情',
							content: 'detail.html',
							maxmin: true,
							area: ['1100px', alertheight + 'px']
						});
						layer.full(index);
					}
				});
				//头工具栏事件
				table.on('toolbar(test)', function(obj) {
					var checkStatus = table.checkStatus(obj.config.id);
					switch(obj.event) {
						case 'add':
							orgdata = "undefined";
							var index = layer.open({
								type: 2,
								title: '添加药品',
								content: 'form.html',
								maxmin: true,
								area: ['1100px', alertheight + 'px']
							});
							layer.full(index);
							break;
						case 'search':
							var index = layer.open({
								type: 2,
								title: '机构药品目录查询',
								content: 'query.html',
								maxmin: true,
								area: ['1100px', alertheight - 400 + 'px']
							});
							break;
					};
				});

			});
		</script>

	</body>

</html>