<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>医疗机构信息详情</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
	</head>

	<body>
		<div class="layui-form layui-form-pane" lay-filter="layuiadmin-form-admin" style="padding: 20px 20px 20px 20px;background-color: #FFFFFF; width:950px; height:550px;">
			<input type="hidden" name="YLJGBH" id="YLJGBH" />
			<div class="layui-form-item">
				<div class="layui-inline" style=" width: 450px;">
					<label class="layui-form-label" style=" width:160px;">医疗机构名称：</label>
					<div class="layui-input-block inputform">
						<input type="text" name="YLJGMC" disabled="disabled" class="layui-input" style="width:250px;">
					</div>
				</div>
				<div class="layui-inline" style=" width: 450px;">
					<label class="layui-form-label" style=" width:160px;">医院代码：</label>
					<div class="layui-input-block inputform">
						<input type="text" name="YYDMYYDM" disabled="disabled" class="layui-input" style="width:250px;">
					</div>
				</div>
			</div>		
			<div class="layui-form-item">
				<div class="layui-inline" style=" width: 450px;">
					<label class="layui-form-label" style=" width:160px;">医疗机构级别：</label>
					<div class="layui-input-inline" style="width:250px;">
						<input type="text" name="YLJGJBMC" disabled="disabled" class="layui-input" style="width:250px;">
					
					</div>
				</div>
				<div class="layui-inline" style=" width: 450px;">
					<label class="layui-form-label" style=" width:160px;">医疗机构等级：</label>
					<div class="layui-input-inline" style="width:250px;">
						<input type="text" name="YLJGDJMC" disabled="disabled" class="layui-input" style="width:250px;">
					
					</div>
				</div>	
			</div>			
			
			<div class="layui-form-item">
				<div class="layui-inline" style=" width: 450px;">
					<label class="layui-form-label" style=" width:160px;">所属行政区划：</label>
					<div class="layui-input-inline" >
						<input type="text" name="XZQHNAME" disabled="disabled" class="layui-input" style="width:250px;">
					</div>
				</div>
				<div class="layui-inline" style=" width: 450px;">
					<label class="layui-form-label" style=" width:160px;">上级主管部门：</label>
					<div class="layui-input-inline" style="width:250px;">
						<input type="text" name="SJZGBM" disabled="disabled" class="layui-input" style="width:250px;">
					</div>
				</div>				
				
			</div>	
			<div class="layui-form-item">
				<div class="layui-inline" style=" width: 450px;">
					<label class="layui-form-label" style=" width:160px;">科室数：</label>
					<div class="layui-input-inline" >
						<input type="text" name="KSS" disabled="disabled" class="layui-input" style="width:250px;">
					</div>
				</div>
				<div class="layui-inline" style=" width: 450px;">
					<label class="layui-form-label" style=" width:160px;">临床科室数：</label>
					<div class="layui-input-inline" style="width:250px;">
						<input type="text" name="LCKSS" disabled="disabled" class="layui-input" style="width:250px;">
					</div>
				</div>		
			</div>	
			<div class="layui-form-item">
				<div class="layui-inline" style=" width: 450px;">
					<label class="layui-form-label" style=" width:160px;">医技科室数：</label>
					<div class="layui-input-inline" >
						<input type="text" name="YJKSS" disabled="disabled" class="layui-input" style="width:250px;">
					</div>
				</div>
				<div class="layui-inline" style=" width: 450px;">
					<label class="layui-form-label" style=" width:160px;">编制床位数：</label>
					<div class="layui-input-inline" style="width:250px;">
						<input type="text" name="CWS" disabled="disabled" class="layui-input" style="width:250px;">
					</div>
				</div>		
			</div>	
			<div class="layui-form-item">
				<div class="layui-inline" style=" width: 450px;">
					<label class="layui-form-label" style=" width:160px;">在岗职工数：</label>
					<div class="layui-input-inline" >
						<input type="text" name="ZGZGS" disabled="disabled" class="layui-input" style="width:250px;">
					</div>
				</div>
				<div class="layui-inline" style=" width: 450px;">
					<label class="layui-form-label" style=" width:160px;">医生数：</label>
					<div class="layui-input-inline" style="width:250px;">
						<input type="text" name="YSS" disabled="disabled" class="layui-input" style="width:250px;">
					</div>
				</div>		
			</div>	
			<div class="layui-form-item">
				<div class="layui-inline" style=" width: 450px;">
					<label class="layui-form-label" style=" width:160px;">护士数：</label>
					<div class="layui-input-inline" >
						<input type="text" name="HSS" disabled="disabled" class="layui-input" class="layui-input" style="width:250px;">
					</div>
				</div>
				<div class="layui-inline" style=" width: 450px;">
					<label class="layui-form-label" style=" width:160px;">开通标识：</label>
					<div class="layui-input-inline" style="width:250px;">
					   <input type="text" name="KTBS" disabled="disabled" class="layui-input" style="width:250px;">
					
					</div>
				</div>		
			</div>	
			<div class="layui-form-item">
				<div class="layui-inline" style=" width: 450px;">
					<label class="layui-form-label" style=" width:160px;">通信地址：</label>
					<div class="layui-input-block inputform">
						<input type="text" name="TXDZ" disabled="disabled" class="layui-input" style="width:250px;">
					</div>
				</div>
				<div class="layui-inline" style=" width: 450px;">
					<label class="layui-form-label" style=" width:160px;">联系电话：</label>
					<div class="layui-input-block inputform">
						<input type="text" name="LXDH" disabled="disabled" class="layui-input" style="width:250px;">
					</div>
				</div>
			</div>		
			
			
			<div class="layui-form-item">
				<div class="layui-inline" style="width:100%;">
					<label class="layui-form-label" style=" width:160px; ">备注：</label>
					<div class="layui-input-block inputform">
						<input type="text" name="Remark" disabled="disabled" class="layui-input" style="width:85%;">
					</div>
				</div>

			</div>
			<div class="layui-form-item">
				<div style="text-align: right;">
					<button class="layui-btn layui-btn-big" data-type="cancel">取消</button>
				</div>
			</div>
		</div>
		<script src="../../../layuiadmin/layui/layui.js"></script>
		<script src="../../../layuiadmin/lib/treeSelect.js"></script>
		<script>
			layui.config({
				base: '../../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index',  'form'], function() {
				var $ = layui.$,
					element = layui.element,
					form = layui.form,
					admin = layui.admin;				
					
				//编辑赋值
				if(parent.orgdata != "undefined" && parent.orgdata != "") {
					
					form.val('layuiadmin-form-admin', {
						"YLJGBH": parent.orgdata.YLJGBH,
						"XZQHNAME": parent.orgdata.XZQHNAME,
						"YLJGMC": parent.orgdata.YLJGMC,
						"YYDMYYDM": parent.orgdata.YYDMYYDM,
						"XZQHBM": parent.orgdata.XZQHBM,
						"YLJGJBMC": parent.orgdata.YLJGJBMC,
						"YLJGDJMC": parent.orgdata.YLJGDJMC,
						"SJZGBM": parent.orgdata.SJZGBM,
						"TXDZ": parent.orgdata.TXDZ,
						"LXDH": parent.orgdata.LXDH,
						"KSS": parent.orgdata.KSS,
						"LCKSS": parent.orgdata.LCKSS,
						"YJKSS": parent.orgdata.YJKSS,
						"CWS": parent.orgdata.CWS,
						"ZGZGS": parent.orgdata.ZGZGS,
						"YSS": parent.orgdata.YSS,
						"HSS": parent.orgdata.HSS,
						"KTBS": parent.orgdata.KTBS=="0"?"否":"是",
						"Remark": parent.orgdata.Remark
					})
				}				
				var active = {
					//取消
					cancel: function() {
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index); //关闭当前页  
					}

				};
				$('.layui-btn').on('click', function() {
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';
				});
			});
		</script>
	</body>

</html>