<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>规则知识库</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
    <style>
        #resetQuery {
            margin-left: 3px;
        }
        #infodata{
        }
    </style>
</head>

<body>

    <div class="layui-row">
        <div class="layui-col-md12">
            <!-- form -->
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-form layui-form-pane layui-row layui-col-space5">
                        <input type="hidden" name="ICDCode" id="ICDCode" />
                        <input type="hidden" name="InstitutionCode" id="InstitutionCode" />
                        <div class="layui-col-md3">
                            <label class="layui-form-label">就诊编码</label>
                            <div class="layui-input-block">
                                <input type="text" id="RegisterCode" name="RegisterCode" placeholder="查询就诊编码"
                                    autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-col-md3">
                            <label class="layui-form-label">患者姓名</label>
                            <div class="layui-input-block">
                                <input type="text" id="Name" name="Name" placeholder="查询患者姓名" autocomplete="off"
                                    class="layui-input">
                            </div>
                        </div>
                        <div class="layui-col-md3">
                            <label class="layui-form-label">身份证号</label>
                            <div class="layui-input-block">
                                <input type="text" id="IdNumber" name="IdNumber" placeholder="查询患者身份证号"
                                    autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-col-md3">
                            <label class="layui-form-label">报销机构</label>
                            <div class="layui-input-block">
                                <input type="text" id="InstitutionName" name="InstitutionName" placeholder="查询就诊机构"
                                    autocomplete="off" class="layui-input" readonly>
                            </div>
                        </div>
                        <div class="layui-col-md3">
                            <label class="layui-form-label">机构等级</label>
                            <div class="layui-input-block">
                                <select name="InstitutionLevel">
                                    <option value="">全部</option>
                                    <option value="8">一级甲等</option>
                                    <option value="5">二级甲等</option>
                                    <option value="2">三级甲等</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-col-md3">
                            <label class="layui-form-label">疾病病种</label>
                            <div class="layui-input-block">
                                <input type="text" id="ICDName" name="ICDName" placeholder="查询疾病病种" autocomplete="off"
                                    class="layui-input" readonly>
                            </div>
                        </div>
                        <div class="layui-col-md3">
                            <label class="layui-form-label">违规等级</label>
                            <div class="layui-input-block">
                                <select name="states">
                                    <option value="">全部</option>
                                    <option value="2">违规</option>
                                    <option value="1">疑似违规</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-col-md3">
                            <label class="layui-form-label">审核状态</label>
                            <div class="layui-input-block">
                                <select id="checktype" name="step"></select>
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <label class="layui-form-label">结算时间</label>
                            <div class="layui-input-block">
                                <input type="text" id="startdate" name="StartSettleTime" placeholder="查询结算开始时间"
                                    autocomplete="off" class="layui-input" readonly style="float: left;width:49%;">
                                <input type="text" id="enddate" name="EndSettleTime" placeholder="查询结算结束时间"
                                    autocomplete="off" class="layui-input" readonly
                                    style="float: left;width:50%;margin-left:1%;">
                            </div>
                        </div>
                        <div class="layui-col-md12">
                            <hr>
                            <div class="layui-col-md8" id="infodata">
                            </div>
                            <div class="layui-col-md4" style="text-align: right;float: right;">
                                <button class="layui-btn layui-btn-sm" id="searchQuery">查询</button>
                                <button class="layui-btn layui-btn-normal layui-btn-sm" id="resetQuery">重置</button>
                                <button class="layui-btn layui-btn-sm layui-btn-warm" style="margin-left:3px;" id="exportExcel">导出Excel</button>
                                <button style="display: none;" class="layui-btn layui-btn-normal layui-btn-sm"
                                    id="reflashTable">刷新表格</button>
                            </div>
                        </div>
                        <div class="layui-col-md12">
                            <table class="layui-hide" id="datalist" lay-filter="datalist"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script src="../../../layuiadmin/modules/tableSelect.js"></script>
<script type="text/html" id="control">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="detail">查看</button>
    </div>
</script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'admin', 'form', 'util', 'laydate', 'setter', 'table', 'tableSelect'], function () {
        var $ = layui.$,
            admin = layui.admin,
            table = layui.table,
            datepicker = layui.laydate,
            view = layui.view,
            util = layui.util,
            form = layui.form,
            setter = layui.setter,
            tableSelect = layui.tableSelect;
        var tokenvalue = 'Bearer ' + layui.data(setter.tableName)[setter.request.tokenName];

        var indexs = layer.load(1);

        function setDefaultDate(startEl, endEl, year) {
            var now = new Date();
            var beforeYear = util.toDateString(now, 'yyyy');
            var defalutStartDate = beforeYear + '-' + "01-01";
            var defalutEndDate = beforeYear + '-' + "12-31";
            $(startEl).val(defalutStartDate);
            $(endEl).val(defalutEndDate);
        }

        setDefaultDate('#startdate', '#enddate');

        var start = datepicker.render({
            elem: '#startdate',
            format: 'yyyy-MM-dd',
            done: function (value, date, endDate) {
                end.config.min = {
                    year: date.year,
                    month: date.month - 1,
                    date: date.date
                }; //开始日选好后，重置结束日的最小日期
                end.config.value = {
                    year: date.year,
                    month: date.month - 1,
                    date: date.date,
                }; //将结束日的初始值设定为开始日
            }
        })

        var end = datepicker.render({
            elem: '#enddate',
            format: 'yyyy-MM-dd',
            done: function (value, date, endDate) {
                start.config.max = {
                    year: date.year,
                    month: date.month - 1,
                    date: date.date
                }; //结束日选好后，重置开始日的最大日期
            }
        })
        
        var nowtime = new Date();

        var $Filter = {
            states: '',
            step:'0'
        }

        var $Query = {
            Name: '',
            RegisterCode: '',
            InstitutionLevel: '',
            IdNumber: '',
            InstitutionCode: '',
            ICDCode: '',
            StartSettleTime: '',
            EndSettleTime: '',
        }

        $(document).on('click', '#searchQuery', function () {
            for (var name in $Query) {
                $Query[name] = $("[name=" + name + "]").val().trim();
            }

            $Filter.states = $('[name=states]').val();
            $Filter.step = $('[name=step]').val();
            list();
        });

        $(document).on('click', '#reflashTable', function () {
            list();
        })

        // 选择疾病
        tableSelect.render({
            elem: '#ICDName', //定义输入框input对象 必填
            checkedKey: 'IDCCode', //表格的唯一建值，非常重要，影响到选中状态 必填
            searchKey: 'keyword',
            searchPlaceholder: '请输入ICD编码或疾病名称',
            table: { //定义表格参数，与LAYUI的TABLE模块一致，只是无需再定义表格elem
                url: layui.setter.base_url + 'znsh/NorationalHos/GetDisease',
                cols: [
                    [{
                            type: 'radio',
                            width: 40,
                        },
                        {
                            field: 'IDCCode',
                            title: '疾病编码',
                            width: 220,
                            align: 'center',
                        },
                        {
                            field: 'DiseaseName',
                            title: '疾病名称',
                            width: 270,
                            align: 'center',
                        }
                    ]
                ],
                page: true,
                limit: 5,
                limits: [5, 10, 15, 20],
                curr: 1,
                where: {
                    token: tokenvalue,
                    condition: "",
                    keyword: ""
                },
                headers: {
                    Authorization: tokenvalue
                }
            },
            done: function (elem, data) {
                layui.each(data.data, function (index, item) {
                    $('#ICDCode').val(item.IDCCode);
                    elem.val(item.DiseaseName);
                });
            }
        });


        // 选择机构
        tableSelect.render({
            elem: '#InstitutionName', //定义输入框input对象 必填
            checkedKey: 'YYDMYYDM', //表格的唯一建值，非常重要，影响到选中状态 必填
            searchKey: 'keyword',
            searchPlaceholder: '请输入治疗机构名称',
            table: { //定义表格参数，与LAYUI的TABLE模块一致，只是无需再定义表格elem
                url: layui.setter.base_url + 'znsh/ZLXX/GetYYXXList',
                cols: [
                    [{
                            type: 'radio',
                            width: 40,
                        },
                        {
                            field: 'YYDMYYDM',
                            title: '编号',
                            width: 220,
                            align: 'center',
                        },
                        {
                            field: 'YLJGMC',
                            title: '机构名称',
                            width: 270,
                            align: 'center',
                        }
                    ]
                ],
                page: true,
                limit: 5,
                limits: [5, 10, 15, 20],
                curr: 1,
                where: {
                    token: tokenvalue,
                },
                headers: {
                    Authorization: tokenvalue
                }
            },
            done: function (elem, data) {
                layui.each(data.data, function (index, item) {
                    elem.val(item.YLJGMC);
                    $('#InstitutionCode').val(item.YYDMYYDM)
                });
            }
        });

        // 重置表单
        function resetQuery() {
            $Filter = {
                states: '',
                setp:'0'
            }

            $Query = {
                Name: '',
                RegisterCode: '',
                InstitutionLevel: '',
                IdNumber: '',
                InstitutionCode: '',
                ICDCode: '',
                StartSettleTime: '',
                EndSettleTime: ''
            }

            $('[name=states]').val('');
            $('[name=step]').val('0');
            $('[name=InstitutionLevel]').val('');
            form.render('select');
            var resetKeys = [
                "Name",
                "RegisterCode",
                "IdNumber",
                "InstitutionCode",
                "InstitutionName",
                "ICDCode",
                "ICDName",
                "StartSettleTime",
                "EndSettleTime"
            ];
            for (var k in resetKeys) {
                $('input[name=' + resetKeys[k] + ']').val('');
            }
        }

        $(document).on('click', '#resetQuery', function () {
            resetQuery();
            setDefaultDate('#startdate', '#enddate');
            $('#StartConclusionTime').val('');
            $('#EndConclusionTime').val('');
            list();
        });

        list();

        function list() {

            $Query.StartSettleTime = $('#startdate').val();
            $Query.EndSettleTime = $('#enddate').val();

            if ($Query.StartSettleTime != '') {
                $Query.StartSettleTime += ' 00:00:00';
            }

            if ($Query.EndSettleTime != '') {
                $Query.EndSettleTime += ' 23:59:59';
            }
            table.render({
                elem: '#datalist',
                url: layui.setter.base_url + 'afterengine/ComplaintStatistical/GetListByStates',
                toolbar: '',
                title: '审核结果表',
                cols: [
                    [{
                            type: 'numbers',
                            title: '序号',
                            align: 'center',
                            width: 80,
                            fixed: 'left'
                        },
                        {
                            // field: 'PersonName',
                            title: '姓名',
                            width: 150,
                            align: 'center',
                            templet: function(d){
                                return d.PersonName?d.PersonName:d.Name;
                            },
                            fixed: 'left'
                        },
                        {
                            field: 'RegisterCode',
                            title: '就诊编码',
                            width: 200,
                            align: 'center',
                        },
                        {
                            field: 'InstitutionName',
                            title: '报销机构',
                            width: 230,
                            align: 'center',
                        },
                        {
                            field: 'DiseaseName',
                            title: '疾病名称',
                            width: 200,
                            align: 'center',
                        },
                        {
                            field: 'YDDescription',
                            title: '疑点描述',
                            width: 200,
                            align: 'center'
                        },
                        {
                            field: 'IdNumber',
                            title: '身份证号',
                            width: 180,
                            align: 'center',
                        },
                        {
                            field: 'SettlementDate',
                            title: '结算时间',
                            width: 180,
                            align: 'center'
                        },
                        {
                            field: 'DSHWGJ',
                            title: '待审核违规金(元)',
                            width: 180,
                            align: 'center',
                            style: 'color:#009688;'
                        },
                        {
                            field: 'DSHWGS',
                            title: '待审核违规数',
                            width: 180,
                            align: 'center'
                        },
                        {
                            field: 'YSHWGJ',
                            title: '已审核违规金(元)',
                            width: 180,
                            align: 'center',
                            style: 'color:#009688;'
                        },
                        {
                            field: 'YSHWGS',
                            title: '已审核违规数',
                            width: 180,
                            align: 'center'
                        },
                        {
                            field: 'ALLMoney',
                            title: '总违规金额(元)',
                            width: 180,
                            align: 'center',
                            style: 'color:#009688;'
                        },
                        {
                            field: 'ALLCount',
                            title: '总违规数量',
                            width: 180,
                            align: 'center'
                        },
                        {
                            title: '疑点等级',
                            width: 180,
                            align: 'center',
                            templet: '<div>{{ d.YDLevel == 1?"疑似违规":"违规" }}</div>'
                        },
                        {
                            title: '审核流程状态',
                            width: 180,
                            align: 'center',
                            templet: function(d){
                                var statesMap = {
                                    "5":'人工初审',
                                    "2":'人工复审',
                                    "3":'专家审核',
                                    "10":'疑点结论',
                                }

                                if(d.StatesBS == '1'){
                                    if(d.IsSceondFK && d.IsSceondFK.trim() == '1'){
                                        return '医院疑似病例二次反馈'
                                    }else{
                                        return '医院疑似病例反馈'
                                    }
                                }else{
                                    return statesMap[d.StatesBS]
                                }
                            }
                        },
                        {
                            title: '操作',
                            toolbar: '#control',
                            width: 160,
                            align: 'center',
                            fixed: 'right'
                        }
                    ]
                ],
                page: true,
                id: "IDTable",
                limit: 10, //每页显示5条
                limits: [10, 20, 40, 60, 80, 90],
                curr: 1,
                where: {
                    step:$Filter.step,
                    states: $Filter.states,
                    querystr: JSON.stringify($Query),
                },
                headers: {
                    Authorization: tokenvalue
                },
                height: $(window).height() - 230,
                done: function (res) {
                    // setTableInfo(res.complaindata);
                    layer.close(indexs);
                }
            })
        }

        // function setTableInfo(infodata) {
        //     var infoDom = [
        //         '<span>病例数量：</span><span>' + (infodata.BLSL?infodata.BLSL:'0') + '</span>',
        //         '<span>费用：</span><span> ￥' + (infodata.FY?infodata.FY:'0') + '</span>',
        //         '<span>待审条数：</span><span>' + (infodata.DSHTS?infodata.DSHTS:'0') + '</span>',
        //         '<span>待审费用：</span><span> ￥' + (infodata.DSHFY?infodata.DSHFY:'0') + '</span>'
        //     ]
        //     $('#infodata').html(infoDom.join('&nbsp;&nbsp;&nbsp;&nbsp;'))
        // }

        table.on('tool(datalist)', function (obj) {
            var events = {
                'detail': detail
            }
            if (events[obj.event]) {
                events[obj.event](obj.data);
            }
        })

        table.on('rowDouble(datalist)', function (obj) {
            detail(obj.data)
        })

        function detail(data) {
            orgdata = data
            // var statesMap = {
            //     "1":'',         //反馈
            //     "5":'',         //人工初审
            //     "2":'',         //人工复审
            //     "3":'',         //专家审核
            //     "10":'',        //疑点结论
            // }

            // var linkurl = statesMap[data.StatesBS];
            // console.log(linkurl);
            layer.open({
                type: 2,
                title: '详情',
                content: "detail.html",
                area: ['100%', '100%']
            })
        }

        getQueryStates()

        function getQueryStates(){
            admin.req({
                url: setter.base_url + 'afterengine/ComplaintStatistical/GetQueryStates',
                type: 'get',
                done: function (result) {
                    var data = result.data
                    var options = [];
                    for(var k in data){
                        options.push({
                            value:k,
                            label:data[k]
                        })
                    }


                    var sortMap = {
                        "0":0,           // 全部
                        "5":1,          // 人工初审
                        "1":2,          // 医院疑似病例反馈
                        "2":3,          // 人工复审
                        "22":4,         // 医院疑似病例二次反馈
                        "3":5,          // 专家审核
                        "10":6          // 疑点结论
                    }

                    options.sort(function(item1,item2){
                        return sortMap[item1.value] -  sortMap[item2.value];
                    })
                    setTypeOptions(options)
                }
            })
        }

        function setTypeOptions(options){
            var optionsDom = [];
            for(var k in options){
                var item = options[k];
                optionsDom.push(
                    '<option value="',item.value,'">',item.label,'</option>'
                )
            }
            $('#checktype').html(optionsDom.join(''));
            form.render('select');
        }

        $(document).on('click', '#exportExcel', function () {
            var mask = layer.load(1);
    
            $myAjax(
                setter.base_url + 'auth/ExportExcel/ExportListBySHStates', 
                'GET', 
                {
                    step: $Filter.step,
                    states:$Filter.states,
                    orgid:layui.data('userinfo').OrgId,
                    querystr:JSON.stringify($Query) 
                }
            ).then(function(res){
                layer.close(mask)
                if(res.code == "0"){
                    window.open(
                        layui.setter.base_url + 'auth/ExportExcel/ExportListBySHStatesDownload?excelname='+res.data
                    );
                }else{
                    layer.alert('下载失败！')
                }
            })       
//          $myAjax(
//              setter.base_url + 'auth/ExportExcel/ExportListBySHStates', 
//              'GET', 
//              {
//                  step: $Filter.step,
//                  states:$Filter.states,
//                  orgid:layui.data('userinfo').OrgId,
//                  querystr:params  
//              }
//          ).then(function(res){
//              setTimeout(function(){
//                  layer.close(mask)
//                  if(res.code == "0"){
//                      window.open(
//                          layui.setter.base_url + 'auth/ExportExcel/ExportListBySHStatesDownload?excelname='+result.data
//                      );
//                  }else{
//                      layer.alert('下载失败！')
//                  }
//              },30000)
//          })               
        });

        function $myAjax(url, method, data, flag) {
            var options = {
                'url': url,
                timeout: 100000,
                'method': method,
                'data': data
            }
      
            options["headers"] = {
                "Authorization": tokenvalue,
                "Access-Control-Allow-Origin": "*"
            }
            
            return $.ajax(options)
        }  
        
    })
</script>

</html>